[2020-03-15 18:28] aniri opened #2 "[Frontend] Initial project setup"
Setup for new React project in the `frontend `folder.

Bulma as the CSS framework, pretty simple and clean.

Setup for reusing components from https://github.com/code4romania/taskforce-fe-components

Also add some basic documentation to the main README file.

Wireframes available here: https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=4%3A0

[2020-03-15 18:29] aniri opened #3 "[Frontend] Add linting checks"
To ensure code quality and consistency, we should add `eslint/prettier` to the project. At the same time, we could add a Github Action for branch/PRs status checks.

[2020-03-15 18:31] aniri opened #4 "[Frontend] Add routing and app skeleton"
Add basic routing functionality and the app skeleton.

Wireframes available here: https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=4%3A0

[2020-03-18 10:27] #2 closed, assigned to surdu

[2020-03-18 10:52] aniri opened #7 "[Frontend] Add taskforce-fe-components package from npm"
"@code4ro/taskforce-fe-components": "0.1.2"

[2020-03-18 10:55] aniri opened #8 "[Frontend] Setup header"
Use the header component from https://github.com/code4romania/taskforce-fe-components

Use the logo from https://github.com/code4romania/covid-assets

The header links should be:
- Despre (link to About page)
- Ecosistemul Covid-19 (link to code4.ro/ro/apps)
- Sprijină proiectul (link to code4.ro/ro/doneaza)

Wireframes: https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=

[2020-03-18 10:57] aniri opened #9 "[Frontend] Setup footer"
Use the footer component from https://github.com/code4romania/taskforce-fe-components

Use the logo from https://github.com/code4romania/covid-assets

The links should be:

- Despre (link to About page)
- Ecosistemul Covid-19 (link to code4.ro/ro/apps)
- Instalează add-on-ul Firefox ( https://addons.mozilla.org/en-US/firefox/addon/covid-19-%C8%99tiri-oficiale/ )
- Instalează add-on-ul Chrome ( htt

[2020-03-18 11:00] aniri opened #10 "[Frontend] Add developed by component"
Use the developed by component from https://github.com/code4romania/taskforce-fe-components

Wireframes: https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=4%3A0

[2020-03-18 11:00] aniri opened #11 "[Frontend] Add incubated by component"
Use the incubated by component from https://github.com/code4romania/taskforce-fe-components

Wireframes: https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=4%3A0

[2020-03-18 11:02] #4 closed, assigned to nobody

[2020-03-19 10:54] #3 closed, assigned to surdu

[2020-03-19 14:02] bvizureanu opened #14 "[Data] create json form for `Q1`"

[2020-03-19 16:54] RaduCStefanescu opened #15 "[Frontend] Integrate Hero component"

[2020-03-19 16:56] RaduCStefanescu opened #16 "[Frontend] Integrate 3 column list component"
**Storybook**

https://taskforce-fe-components.now.sh/?path=/story/list--three-column-list

**Wireframe**

https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=0%3A1

[2020-03-19 16:59] RaduCStefanescu opened #17 "User creates account"
The first page that a user navigates to in the website is the Create account page.

![Group 416](https://user-images.githubusercontent.com/15039873/77779662-8b528f80-705b-11ea-8172-d57251ceaecd.png)

The user will insert all the information required for creating an account, the form needs to send the data to the backend API. The endpoints will be delivered soon.

[2020-03-19 17:00] RaduCStefanescu opened #18 "User fills in personal assessment"
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=39%3A138

[2020-03-19 17:08] RaduCStefanescu opened #19 "[Frontend] User creates profiles for people in his care"
As part of the platform, an user can insert details about people he has in his care to monitor them using his account.
![Adauga familia in cont](https://user-images.githubusercontent.com/15039873/77785254-965ded80-7064-11ea-9f8e-243c951189ed.png)
We will provide the API endpoints where this information needs to be POSTed.

[2020-03-19 17:17] RaduCStefanescu opened #20 "User completes an assessment for people in his care"
As part of the platform workflow, an user needs to complete an assessment for people in his care.

We need to integrate this component from the frontend components package.
code4romania/taskforce-fe-components#106

[2020-03-19 17:18] RaduCStefanescu opened #21 "[Frontend] User login page"
An user needs to be able to login to the platform.
![Log in](https://user-images.githubusercontent.com/15039873/77789196-40407880-706b-11ea-86dd-cbf20f22ff1b.png)

The authentication is handled by an Identity Server. The login page is displayed outside of the frontend application and will redirect back to it once the login is successful. We need to apply the styles from the mockup to this page: ht

[2020-03-19 17:24] RaduCStefanescu opened #22 "Create admin panel"
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=144%3A10

[2020-03-19 17:24] RaduCStefanescu opened #23 "[Frontend] Login to the Admin panel"
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=146%3A1266

[2020-03-19 17:25] RaduCStefanescu opened #24 "Create red flags in the last 24h component"
**Prototype**
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=144%3A10

**Design**
<img width="249" alt="Screenshot 2020-03-26 at 23 49 49" src="https://user-images.githubusercontent.com/11520795/77700265-81c61a80-6fbc-11ea-82f7-6cc7649625b6.png">

[2020-03-19 17:28] RaduCStefanescu opened #25 "Number of users logged in"
**Prototype**
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=144%3A10

**Design**
<img width="310" alt="Screenshot 2020-03-26 at 23 51 03" src="https://user-images.githubusercontent.com/11520795/77700363-b639d680-6fbc-11ea-944e-45460312103b.png">

[2020-03-19 17:28] RaduCStefanescu opened #26 "Number of filled in forms component"
**Prototype**
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=144%3A10

**Design**
<img width="306" alt="Screenshot 2020-03-26 at 23 51 16" src="https://user-images.githubusercontent.com/11520795/77700404-cc479700-6fbc-11ea-8dc9-aa716e7d4aee.png">

[2020-03-19 17:30] RaduCStefanescu opened #27 "Display red flags list"
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=144%3A535

[2020-03-19 18:04] #7 closed, assigned to surdu

[2020-03-20 08:09] RaduCStefanescu opened #30 "Display all filled in answers"
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=144%3A2

[2020-03-20 21:48] #8 closed, assigned to surdu

[2020-03-20 21:52] #10 closed, assigned to surdu

[2020-03-20 22:04] #9 closed, assigned to paul-ghiran

[2020-03-20 22:30] surdu opened #35 "[Frontend] Add favicon"
Add favicons from https://github.com/code4romania/covid-assets/tree/master/favicons/stam-acasa

[2020-03-21 01:33] #11 closed, assigned to paul-ghiran

[2020-03-21 11:36] #35 closed, assigned to surdu

[2020-03-21 16:40] #16 closed, assigned to paul-ghiran

[2020-03-21 17:34] trupci opened #39 "[Backend] User info api"
* Save user data
* Save related info data (for family members)

[2020-03-22 12:28] #23 closed, assigned to oanamun

[2020-03-22 13:33] #15 closed, assigned to surdu

[2020-03-22 14:32] RaduCStefanescu opened #43 "View filled in forms on personal account"
**Prototype**
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=13%3A389

**Design**
<img width="591" alt="Screenshot 2020-03-26 at 23 30 34" src="https://user-images.githubusercontent.com/11520795/77698744-d0be8080-6fb9-11ea-8b2c-d0ff6cd9b8cd.png">

[2020-03-22 14:33] RaduCStefanescu opened #44 "View filled in forms for people in care"
**Prototype**
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=1383%3A3793

**Design**
<img width="241" alt="Screen Shot 2020-04-09 at 2 10 15 PM" src="https://user-images.githubusercontent.com/11520795/78889186-ddd47880-7a6b-11ea-888c-117bf2b35dbf.png">

[2020-03-22 21:19] #39 closed, assigned to trupci

[2020-03-23 15:59] paul-ghiran opened #47 "[Frontend] Upgrade fe-components to 1.0 accounting for breaking changes"
@moonflare released 1.0 for our fe-components package, needing to introduce some breaking changes.

Someone needs to address this from our side, upgrading to 1.0 before any other tickets are developed using the 0.x branch using the breaking changes notes written in the release for the affected components:

https://github.com/code4romania/taskforce-fe-components/releases/tag/v.1.0.0

[2020-03-25 13:05] #47 closed, assigned to surdu

[2020-03-27 18:51] RaduCStefanescu opened #50 "Create email service"
Part of the platform, we need to send emails in 2 situations:
- when an user creates an account
- when a daily notification needs to be sent to the user to complete his assessment
- when sending the daily notification to institutions

We need to have an email service that will use a SMTP server, that will be part of the deployment.
The email service needs to be configurable (details need to be in

[2020-03-27 18:56] RaduCStefanescu opened #51 "Create notification service"
Each user needs to receive a daily email that prompts him to login and fill in an assessment for himself and the people in his care.

We need to write a service that daily will pick up the list of users in the platform and generate requests to the Email service for sending the assessment email.

The requests will be sent via RabbitMQ.

[2020-03-27 19:06] RaduCStefanescu opened #52 "[Backend] User confirmation email"
When a new user is created in the platform the user needs to receive an email with a confirmation link.
The User service needs to
- generate a unique hash for the newly created user
- issue a request to the Email service via RabbitMQ that contains the hash, the email of the user

[2020-03-27 19:16] RaduCStefanescu opened #53 "Assessment answers service"
When a user completes an assessment for himself or his family members, a JSON is sent from the frontend to the backend. The assessment must expose an endpoint where this information is received.
The service will write this JSON to disk so that it can be indexed by Elasticsearch.
The service will also write the data redundantly in an SQL database in order to be able to serve the history of assessme

[2020-03-27 19:50] RaduCStefanescu opened #54 "Display history of filled in assessments in user profile"
As an user I want to be able to view the history of filled in assessments on my profile.
![Contul meu - formularele mele](https://user-images.githubusercontent.com/15039873/77794154-0e7fdf80-7074-11ea-86d1-445a7c7f71c3.png)

We need to integrate this component from the frontend components when it is done: https://github.com/code4romania/taskforce-fe-components/issues/31

[2020-03-27 20:22] RaduCStefanescu opened #55 "Create Excel document service"
Daily we need to send a document that contains all the flagged cases that were discovered during the day to a set of predefined email addresses.

We need to create an excel document service, that receives a list of answers, in JSON format and generates an excel file.

[2020-03-28 07:48] cristianMardare commented on #50
I can take this issue

[2020-03-28 08:01] Dima000 commented on #21
Salut, iau eu issue-ul

[2020-03-28 08:05] adaczo commented on #54
Salut, as dori sa incep acest task

[2020-03-28 08:13] cosminpopescu14 commented on #51
As dori eu sa ma ocup de el :)

[2020-03-28 08:15] Patricia008 commented on #24
Salut. Fac eu componenta :)

[2020-03-28 08:25] gabrielionita commented on #52
salut, iau eu issue-ul

[2020-03-28 08:30] mmioana commented on #27
Salut :) Iau eu asta.

[2020-03-28 08:34] MarinelMarian commented on #55
I'd like to try helping on this one

[2020-03-28 08:41] chedydy commented on #25
Buna, il iau eu.

[2020-03-28 09:23] cimpoesub commented on #26
Salut. Pot sa ma ocup eu de asta.

[2020-03-28 09:24] marculescu commented on #51
Please see the updated to-do list in [this comment](https://github.com/code4romania/stam-acasa/issues/51#issuecomment-605424008).

----

We devised the following to-do list:

- [ ] Add IUserService.GetUsers() and implementation in UserService.GetUsers()
- [ ] Define Request class and build it from User
- [ ] Send a request to the Email service using RabbitMQ
- [ ] Create interface IAssessmentNotif

[2020-03-28 09:28] RaduCStefanescu commented on #51
Sounds great, but I have a few comments to make:
- Request class - this is a DTO, let's keep it outside of any service definition
- we have more then 1 type of Notifications to be generated - I would create a generic Notification interface and several implementations for it
- I would actually also create a class that gets all the implementations of the Notification interface injected in the contai

[2020-03-28 09:29] RaduCStefanescu commented on #21
Please also involve @adascaliteiradu in this issue.
Thank you!

[2020-03-28 09:36] marculescu commented on #51
- I thought about making the Request class a "smart" one, with the responsibility to invoke the RabbitMQ itself and place itself on the queue (or maybe a RequestDto, as you mention). But I'm ok also with just the Dto approach.
- _generic Notification_: ok, though it's not clear now for me what will the common Notification behavior be
- _a class that gets all the implementations of the Notification

[2020-03-28 09:44] andreimole commented on #53
Salutare pot sa iau eu asta?

[2020-03-28 09:52] RaduCStefanescu commented on #53
yes please!

[2020-03-28 10:11] marculescu commented on #51
Here's an update list of tasks, based on the comments above:

- [x] Add IUserService.GetUsers() and implementation in UserService.GetUsers()
- [x] Create interface IQueue with 2 methods: Queue(INotification), Task<INotification> Dequeue()
- [x] Create interface INotification
- [x] Create INotification implementation AssesmentNotification(User)
- [x] Add INotificationsDispatch interface with a Proc

[2020-03-28 10:18] AndreiMitrea commented on #17
@RaduCStefanescu I would like to take this task. Thank you!

[2020-03-28 10:27] gabrielionita commented on #19
I'd like to take this issue

[2020-03-28 10:28] AndreiMitrea commented on #17
@RaduCStefanescu So this page should be the landing page, right?

[2020-03-28 10:33] RaduCStefanescu commented on #17
nope, this is the landing page
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=0%3A1
this is just the contul meu page - where a user will create his account

[2020-03-28 10:34] AndreiMitrea commented on #17
Got it.

[2020-03-28 10:46] cipas commented on #18
✌️daca e liber il iau eu

[2020-03-28 11:11] tedchirvasiu commented on #55
I could try to help generating the Excel file using NPOI and send the mails via MailKit. What's the required structure of the Excel file?

[2020-03-28 11:40] chedydy commented on #44
rezervat.

[2020-03-28 11:41] chedydy commented on #43
rezervat.

[2020-03-28 11:49] surdu commented on #43
This might be blocked by https://github.com/code4romania/taskforce-fe-components/issues/31

[2020-03-28 11:49] surdu commented on #44
This might be blocked by https://github.com/code4romania/taskforce-fe-components/issues/31

[2020-03-28 12:50] bianca-gauca commented on #25
Is it still available? I want to work on it.

[2020-03-28 12:54] Patricia008 commented on #25
I am currently working on https://github.com/code4romania/stam-acasa/issues/24 which is the same component, different props

[2020-03-28 13:16] marculescu commented on #51
@RaduCStefanescu, we need some clarifications please.

Where should this service be instantiated?

At the moment we have an interface called `INotificationsDispatch` and an implementation called `AssessmentNotificationsDispatch`, with a Process() method that retrieves the users, creates assessment notifications and queues them.
AssessmentNotificationsDispatch is built with this ctor: `AssessmentNo

[2020-03-28 15:11] #21 closed

[2020-03-28 15:53] danmana commented on #26
Same component as #24 , just different props

[2020-03-28 15:54] #52 closed

[2020-03-28 16:35] surdu commented on #24
We try to use Elasticsearch to display the info that this component should display. We leave this open until that effort succeeds, so please don't work on this yet.

[2020-03-28 16:36] surdu commented on #26
We try to use Elasticsearch to display the info that this component should display. We leave this open until that effort succeeds.

[2020-03-28 16:36] surdu commented on #25
We try to use Elasticsearch to display the info that this component should display. We leave this open until that effort succeeds, so please don't work on this yet.

[2020-03-28 16:45] Patricia008 commented on #24
Awesome, but it's already done.

[2020-03-28 17:50] RaduCStefanescu opened #64 "Create Scheduling service"
As part of the platform we need to send emails on a daily basis.
We need a scheduling service that will invoke the notification service for sending these emails.

The scheduler needs to send:
- daily emails to users for assessments in the morning
- daily emails to a predefined set of email addresses

[2020-03-28 19:12] #19 closed

[2020-03-29 12:40] bvizureanu commented on #64
what did you have in mind for this?

[2020-03-29 12:53] bvizureanu opened #76 "Change trigger path for frontend"
change
https://github.com/code4romania/stam-acasa/blob/1e3012038ee67bb5be88bdec87de98b4f602ce71/.github/workflows/dockerimage.frontend.yml#L7

to just `frontend/**` - if the dockerfile or project.json file change we need to rebuild and republish the image.

[2020-03-29 14:24] #14 closed

[2020-03-29 14:25] #76 closed, assigned to danielmiu

[2020-03-29 14:30] bvizureanu opened #81 "Use Postgres"
Switch provider from sqllite to postgres for database interactions for both API and IdentityServer.

In the docker-compose file, a postgres container should already be available; inspect that for hostname and default credentials

make sure to update the docker-compose with a multiplatform available mount path for persistence of the database files:
https://github.com/code4romania/stam-acasa/blob/13

[2020-03-30 07:46] RaduCStefanescu commented on #64
Scheduler schedules tasks -> Notification service selects users -> Email service sends emails

that would be an oversimplification of the process I had in mind

[2020-03-30 16:14] surdu opened #85 "Create different environment for dev vs. prod"
We need to be able to configure two separate environments: one for development and one for production. This way we can configure the URL for the back-end differently in-between these two deployments.

[2020-03-30 17:49] tudorgergely commented on #85
is the backend on a different server/endpoint or can we use the proxy feature for this? https://create-react-app.dev/docs/proxying-api-requests-in-development/

[2020-03-30 18:39] #50 closed

[2020-03-30 18:46] trupci opened #86 "Use a common EmailSender service in both StamAcasa.IdentityServer and StamAcasa.EmailService"
Right now we have a `SmtpSender` class in `StamAcasa.EmailService` and a `EmailSenderSmtp` class in `StamAcasa.IdentityServer`. Both of them are responsible for sending mails via a `SmtpClient`.
We should extract this as a common service in `StamAcasa.Common`.

[2020-03-30 20:17] abalaci commented on #64
Is anyone looking into this? I'd like to help out if it's still up for grabs.

[2020-03-31 06:23] RaduCStefanescu commented on #64
Yes, this one is still up for grabs @abalaci

[2020-03-31 07:07] RaduCStefanescu commented on #18
The linked issue in fe components is done: code4romania/taskforce-fe-components#106
The component is distributed as part of `V1.0.6` of the fe components.
We can now start working on this issue by including the newly developed component.

[2020-03-31 07:08] RaduCStefanescu commented on #20
The linked issue in fe components is done: code4romania/taskforce-fe-components#106
The component is distributed as part of `V1.0.6` of the fe components.
We can now start working on this issue by including the newly developed component.

[2020-03-31 07:31] cristianMardare commented on #86
The two implementations use different Smtp clients:
- `StamAcasa.IdentityServer.EmailSenderSmtp` uses the [System.Net.Mail version](https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.smtpclient?view=netcore-3.1), which seems to be deprecated:
"We don't recommend that you use the SmtpClient class for new development because SmtpClient doesn't support many modern protocols. Use [MailKit ](h

[2020-03-31 15:16] surdu commented on #85
@tudorgergely If I'm understanding correctly, this will work only for API calls. We will need this variable to also compose some URLs that are handled completely on the back-end side, like the link to register/login/logout.

[2020-03-31 17:19] RaduCStefanescu commented on #53
This issue is related to #81
The Postgres database will be used to retain these answers in a simple format:
- user id
- timestamp
- answer in JSON format
@bvizureanu any other fields we should pesist?

[2020-03-31 18:55] mmircea16 commented on #20
I can pick this issue. I would need to chat with someone about the backend integration

[2020-03-31 18:57] surdu commented on #20
Please check with @oanamun if she already started working on this.

[2020-04-01 07:06] bvizureanu opened #89 "Fix docker image for API"
on runtime you get this:

[code]

[2020-04-01 08:08] oanamun commented on #20
@mmircea16  I can start working later today on it, but if you want to start sooner you can reassign it to you :)

[2020-04-01 09:25] maloun96 commented on #22
il iau eu

[2020-04-01 09:50] chalx commented on #89
@bvizureanu am facut fix-ul. Te rog sa te uiti.

[2020-04-01 10:02] RaduCStefanescu commented on #20
Or, maybe you 2 @oanamun and @mmircea16 can collaborate :)

[2020-04-01 12:58] surdu commented on #44
@RaduCStefanescu @overeha Is the screenshot mentioned in this issue still valid? I see the design for this page has changed: https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=13%3A389

[2020-04-01 14:14] RaduCStefanescu commented on #44
@surdu @chedydy we changed the layout for this feature, the last figma you pasted is the way the component will look like
And yes, we are blocked by code4romania/taskforce-fe-components#31

[2020-04-01 14:16] #89 closed, assigned to nobody

[2020-04-01 14:35] RaduCStefanescu commented on #86
This issue already has a PR so moving to `In progress`

[2020-04-01 14:52] RaduCStefanescu opened #94 "Add family member improvements"
As a user I want to be able to add a family member to my account:
- enhance `legatura familiala` with all the possbile values - including `persoana in grija`
- enhance `Varsta` to be text entry only accepting numbers as input
- enhance `conditii de sanatate preexistente` with a multiple select list (we will provide the elements)
- `Da/Nu` in `Are anumite dizabilitati` should be single select only

[2020-04-01 14:59] RaduCStefanescu commented on #18
Should we close this one and open an issue just with the rest of the stuff that needs to be done?
[code]

[2020-04-01 15:22] RaduCStefanescu opened #96 "Registration page should have the same design as Login"
The registration form should have the same UI as the Login form

![Log in](https://user-images.githubusercontent.com/15039873/78154922-7f910f80-7445-11ea-93eb-eac707afc9e1.png)

[2020-04-01 16:07] acraileanu commented on #94
Not a FE guy but I can give it a go - are the options for `legatura familiala` and `conditii de sanatate preexistente` available somewhere?

[2020-04-01 16:23] RaduCStefanescu opened #97 "Enhance GHA pipelines to update ECS environments"
Currently, the GHA pipelines publish a new image on Dockerhub.
We have defined ECS services in AWS that use these images.
We need to enhance GHA pipelines so that when we publish a new image, the ECS environments are updated with the new images.

[2020-04-01 19:13] RaduCStefanescu commented on #94
`legatura familiala`
- parinte
- fiu/fiica
- frate/sora
- alt membru al familiei
- persoana in grija

`conditii preexistente`
- boala cardiovasculara
- diabet
- boala pulmonara
- cancer
- alta boala cronica

[2020-04-01 19:29] surdu opened #98 "Personal assesment form improvements"
The following improvements are needed for assessment form:
 - [ ] Get form data from API
 - [ ] Create authenticated routes (the user can see data only if it is logged in)

This is a continuation of #18

[2020-04-01 19:30] surdu commented on #18
Created #98

[2020-04-01 19:30] #18 closed

[2020-04-01 19:43] surdu commented on #44
@RaduCStefanescu Arguably, we're not blocked by https://github.com/code4romania/taskforce-fe-components/issues/31 anymore, considering we'll need to implement a new component for this.

@RaduCStefanescu @overeha Is there a similar component to this one used in another project so that it warrants a place in the `taskforce-fe-components` or should we implement it directly in this project?

[2020-04-01 20:24] RaduCStefanescu commented on #44
Yes, we are still blocked by this and we have a PR that needs to be accepted: https://github.com/code4romania/taskforce-fe-components/pull/128

[2020-04-02 13:51] acraileanu commented on #94
Added a PR, but not really sure in terms of quality, since I am not familiar with React, nor with UX touch.

[2020-04-02 14:12] RaduCStefanescu opened #101 "Fix Docker build for frontend"
Currently the FE CI is failing with the following error:

[code]

[2020-04-02 18:30] #101 closed, assigned to nobody

[2020-04-02 18:32] tudorgergely commented on #98
I'll take this if you still need help :)

[2020-04-02 18:41] surdu commented on #98
@tudorgergely All yours ;)

[2020-04-02 19:06] RaduCStefanescu opened #105 "RabbitMQ interface"
As part of the processing, services will interact with the RabbitMQ queue:
- the user service will produce email requests to the email service via RabbitMQ queue
- the notification service will produce email requests to the email service via RabbitMQ queue
- the email service will consume requests off the queue and send emails

We need a wrapper object over the RabbitMQ client that will
- read the

[2020-04-03 09:24] #94 closed, assigned to acraileanu

[2020-04-03 09:36] RaduCStefanescu opened #108 "Login is not working correctly"
Login placeholder on frontpage is not working as expected - not redirecting to the login form.
This issue replicates both locally and on remote environment.

[2020-04-03 10:19] RaduCStefanescu commented on #96
This one seems to be solved

[2020-04-03 10:19] #96 closed, assigned to adascaliteiradu

[2020-04-03 11:47] #51 closed

[2020-04-03 13:34] #55 closed

[2020-04-03 15:09] #86 closed, assigned to nobody

[2020-04-03 18:28] RaduCStefanescu opened #110 "Enhance registration process to use the email queue"
As part of the solution, we will have an email service that will consume email requests of a queue and send emails.
We need to enhance the registration process to use the RabbitMQ interface (#105 ) to send requests to the email service via the email queue.

[2020-04-03 18:31] RaduCStefanescu opened #111 "Create homepage for the website"
When a user is not logged in the platform, they will visit the homepage of the website.
We will provide information about the content.

[2020-04-03 18:44] RaduCStefanescu opened #112 "Create homepage after user login"
After a user logs in the platform, he will have access to the homepage of his account.
The page will look like in the UX:
![Group 416 copy 2](https://user-images.githubusercontent.com/15039873/78393935-64fc9900-75f3-11ea-8e15-515b06cf595f.png)

Until the user fills in his account details, the contents of the page will be:
- Contul meu - will contain the component for creating the user profile, con

[2020-04-03 18:50] RaduCStefanescu opened #113 "Customize backend assessment endpoint"
The component developed as part of #20 will make a call in the backend for the contents of the assessment form.

We need to create a new assessment controller, that will return the JSON contents of the 2 assessments:
- if the user does not have the profile filled in, we return the initial assessment
- if the user already completed his profile, we return the recurrent assessment

[2020-04-03 18:59] RaduCStefanescu opened #115 "Enhance profile for user and family members"
We need to enhance the profile of an user and the profiles of people in his care with the following questions:
[code]

[2020-04-03 19:04] RaduCStefanescu opened #116 "Send daily emails to users that have an verified account in the platfom"
We need to send twice a day an email to a users that have an account in the platform.

We need to enhance the scheduling service developed in #64 to send emails to users twice a day, at 9:00 and 18:00

[2020-04-03 19:19] RaduCStefanescu opened #117 "Send daily emails to predefined list of addresses"
We need to create a new entity that will hold information about the public entities we are sending emails to. The entity will have this information:
- id
- county
- name of public entity
- email address of public entity

At the end of the day we need to send information to these state entities about the answers posted by users in the platform.
The emails will be sent everyday at 20:00 - we need to

[2020-04-03 19:24] RaduCStefanescu opened #118 "Enhance email service to implement worker pool"
As part of the platform we will need to send many daily emails.
We need to enhance the email service to run multiple workers that will
- consume the messages of the queue
- distribute the messages to a worker pool that will be sending the emails

[2020-04-03 19:30] RaduCStefanescu opened #119 "Email templates"
We need to create email templates for sending emails:
- account confirmation template
- daily assessment template
- state entity template

We need to create an enum that will be added to the request sent to the email service. Based on the enum the email service will know which template to use.

[2020-04-03 20:13] RaduCStefanescu opened #120 "Enhance assessment answers service with historic results"
The assessment service built as part of #53 needs to be enhanced to return historic answers of a user. We should return the history up to the last 4 days of filled in answers.

[2020-04-03 20:56] overeha commented on #111
Here are the colors
Here is the page

and figma link
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid-Stam-Acasa?node-id=4%3A0

![colors](https://user-images.githubusercontent.com/45068169/78404293-c24e1580-7606-11ea-9bc4-5823993b91ff.png)
![Stam Acasa - homepage nelogat](https://user-images.githubusercontent.com/45068169/78404295-c417d900-7606-11ea-8189-d249c2d27bfd.png)

[2020-04-04 04:02] andreimole commented on #120
pot sa iau eu asta?

[2020-04-04 05:37] andreimole commented on #120
pare ca e un endpoint in api care intoarce istoricul formularelor completate

[2020-04-04 10:23] RaduCStefanescu commented on #111
I would suggest not putting the registration form in the homepage.
Let's keep the homepage without the registration form and we add a register link in the menu, as it is now.

[2020-04-04 10:28] RaduCStefanescu commented on #120
Da, exista un endpoint in FormController si functionalitatea e implementata deja in FormService. Am sa inchid acest issue. Multumesc de ajutor @andreimole

[2020-04-04 10:29] #120 closed, assigned to nobody

[2020-04-04 11:00] RaduCStefanescu opened #121 "Create profile for first login"
When a user will first login, they will have to fill in his profile information.

Please check out the UX for the profile on first login - all the questions are split in 3 distinct panels:
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=4%3A1

[2020-04-04 11:30] RaduCStefanescu opened #122 "Update Profile entity"
As part of developing #121 we need to enhance the Profile entity, that needs to contain the following information:
- Name
- Surname
- Relationship (for people in care functionality)
- Tel number
- County
- City
- Age
- Gender
- Smoker
- Known illness
- Isolation (ENUM)
- Living with other people
- Other people isolation (ENUM)

[2020-04-04 11:57] RaduCStefanescu opened #123 "Create profile for people in care"
As a user of the platform I need to add people in my care to my account.

Checkout the UX for the full description of the fields that need to be entered
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=1383%3A899

This is similar to #121

[2020-04-04 12:01] RaduCStefanescu opened #124 "Enhance initial assessment screen with new UX"
We want to enhance the initial assessment page to match the new UX.
The page is being built in this issue #20
This is the new UX we want to use for this page:
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=1383%3A1420

[2020-04-04 12:05] RaduCStefanescu opened #126 "Enhance history of assessments with new UX"
We need to enhance the page for displaying the user assessment history with the new UX.
The initial page is built as part of #54
This is the new UX
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=1383%3A3657

[2020-04-04 12:13] dragosrobertn commented on #111
Happy to pick this one up. Can someone pinpoint me to the components they think I should use/reuse for this?

Thanks.

[2020-04-04 12:24] RaduCStefanescu commented on #53
This issue is already covered by the FormsController and FormsService.
Will close it.

[2020-04-04 12:24] #53 closed

[2020-04-04 13:00] RaduCStefanescu opened #127 "Counties/cities endpoints"
When a user completes his profile - they need to fill in their county/cities.
We need to have this information in the database and expose it through the API.

[2020-04-04 13:08] RaduCStefanescu commented on #20
@oanamun we would like to continue this implementation in #124
@mmircea16 has started working on it

[2020-04-04 15:56] adascaliteiradu commented on #123
Can I?

[2020-04-04 17:04] surdu commented on #123
@adascaliteiradu all yours ;)

[2020-04-04 17:14] surdu commented on #111
@dragosrobertn You should use the [share component](https://github.com/code4romania/taskforce-fe-components/tree/master/src/components/social-share) for the share thingy, the [hero component](https://github.com/code4romania/taskforce-fe-components/tree/master/src/components/hero) for the page title.

Please see the [already existing home page](https://github.com/code4romania/stam-acasa/blob/develo

[2020-04-04 17:28] VeronicaM commented on #126
@alinaMihai si eu vom lucra pe acest issue.

[2020-04-04 17:40] andorremus commented on #113
Having a go at this now, should there be an assessment service that the controller calls to get the assessment?

[2020-04-04 17:50] #112 closed, assigned to adascaliteiradu

[2020-04-04 17:50] andorremus commented on #127
Where do we get the cities from? Would another controller with a route to get all counties (parent) + cities (children) suffice?

[2020-04-04 17:53] surdu commented on #127
@RaduCStefanescu do we have a similar endpoint in any of our other products that @andorremus can draw inspiration from ?

[2020-04-04 18:01] RaduCStefanescu commented on #115
The profile has been updated in #122 we need to close this one

[2020-04-04 18:01] #115 closed, assigned to nobody

[2020-04-04 18:15] irinel-nistor commented on #119
Salut, as vrea sa lucrez la task-ul asta. Am cateva nelamuriri. Din ce inteleg se va incarca in functie de enum un template din folderul specificat in configuration, la cheia "TemplateFolder", corect?
Avem fisierele html care vor fi folosite drept template?

[2020-04-04 18:52] RaduCStefanescu commented on #127
yes! the way I see it, we have a static list, that I can import from another project, that is a simple map holding:
- id
- county
- city
We save this information in the database or serve it statically from a file. I would prefer the information in the database.
We then create a new controller, that exposes 2 endpoints - one for getting the list of counties and one that returns the list of cities g

[2020-04-04 18:54] RaduCStefanescu commented on #119
salut! da, exact, avem o lista de templates, si fiecare template ar tb sa aiba un enum asociat. catre email service vine doar acel enum. putem sa plecam sa construim frameworkul pentru asta, sa construim templates si vin cu contentul dupa ce il avem?

[2020-04-04 19:26] RaduCStefanescu commented on #113
Hi @andorremus
Currently the Form API implements
- `GET /api/form` - returns all the forms for a user
- `POST /api/form` - receives the results of a form

We need to create a new endpoint `GET /api/form/version` that returns:
- https://github.com/code4romania/stam-acasa/tree/develop/jsondata/q1.json - if the user does not have a profile filled in
- https://github.com/code4romania/stam-acasa/tree/d

[2020-04-04 19:43] RaduCStefanescu commented on #108
This issue still replicates on environment run through docker containers
Leaving this open until fix in #104 is being merged

[2020-04-04 20:13] andorremus commented on #127
Ok, thanks, assign this to me as well please

[2020-04-04 21:14] surdu commented on #85
This should have been fixed in #104

[2020-04-04 21:14] #85 closed, assigned to nobody

[2020-04-04 21:27] gheorghelupu17 commented on #127
[NomenclatorRVM.zip](https://github.com/code4romania/stam-acasa/files/4432563/NomenclatorRVM.zip)

[2020-04-05 07:40] cosminpopescu14 commented on #116
l-as lua eu :)

[2020-04-05 09:24] RaduCStefanescu commented on #127
Based on the files above, let's import this data in the database and expose a controller to return the data.

[2020-04-05 09:27] andorremus commented on #113
Un-assign this for now and I’ll pick it up later if nobody’s on it

[2020-04-05 09:27] RaduCStefanescu commented on #113
Moving this one to backlog, as @andorremus is working on a different task

[2020-04-05 09:52] RaduCStefanescu commented on #116
@cosminpopescu14 please talk to Andrei Balaci he is working on #64

[2020-04-05 11:04] serbandin commented on #113
would like to work on this item.

[2020-04-05 11:23] dragosrobertn commented on #111
As per @RaduCStefanescu's comment, I will not be adding a registration form.

[2020-04-05 11:44] #122 closed, assigned to trupci

[2020-04-05 12:32] #111 closed, assigned to dragosrobertn

[2020-04-05 13:02] bvizureanu opened #140 "Allow frontend to use runtime ENVIRONMENT variables"
the docker container as it is right now need the URLs and other configurable data to be passed in at build time.

We need the "compiled" frontend app to consume the environment variables that have been set at runtime in the container.

either nginx or node runtime is acceptable for the runtime container.
the frontend image will contain only the `build` folder of the frontend app not all the source

[2020-04-05 13:03] CristiHabliuc commented on #140
awesome. I'll take this, I'll use nginx since I see it's already used in the Dockerfile

[2020-04-05 13:15] #105 closed, assigned to idormenco

[2020-04-05 13:55] cipick opened #141 "Create "Terms and Conditions" page"
As a user I want to read about how my cookies and other sensitive data is handled by the website due to GDPR regulations before creating an account.

[2020-04-05 14:04] CristiHabliuc commented on #140
Scratch that, was blinded by the comment leftover. I made the adjustments so that it does the config as usual and still use node inside the docker image.

I also:
- moved config urls into a separate file
- added examples to the README

[2020-04-05 14:04] #140 closed, assigned to CristiHabliuc

[2020-04-05 14:28] #119 closed, assigned to irinel-nistor

[2020-04-05 15:13] cipick commented on #141
Can we use the content from https://rezultatevot.ro/web/politica-de-confidentialitate and https://rezultatevot.ro/web/termeni-si-conditii to build up this page?

[2020-04-05 16:31] virtual4real commented on #110
ok, will use the existing interface over rabbit mq

[2020-04-05 16:36] RaduCStefanescu commented on #141
@overeha do we need a `Terms and conditions` page for this project? Can you please let us know?

[2020-04-05 17:24] sudo-robert commented on #118
I can work on this item
Any more details on this, should it have a configurable number of workers?

[2020-04-05 17:39] cipick commented on #141
![image](https://user-images.githubusercontent.com/6429818/78505610-43c7b400-777d-11ea-949b-ec5534d5e4c5.png)
@RaduCStefanescu i saw that when you are creating an account there is a checkbox with a link to `Privacy policy` or `Terms and conditions`

[2020-04-05 17:45] dragosrobertn commented on #141
I can pick this one up once we get confirmation of:
- Whether we need Terms and Conditions
- The content that is meant to go on the page
- The url path under which it should go (e.g. `/termeni-si-conditii`)
- If we should link to it from any of the following:
  - Header menu
  - Footer menu

[2020-04-05 19:22] RaduCStefanescu commented on #118
Hey @sudo-robert
We are going to have to send large number of emails, so yes, having a configurable number of workers, would help a lot.

[2020-04-05 19:28] RaduCStefanescu commented on #141
Good point everyone.
I will come back with an answer.

[2020-04-05 19:42] RaduCStefanescu commented on #108
Fixed by #143

[2020-04-05 19:42] #108 closed, assigned to bvizureanu

[2020-04-06 08:06] #22 closed

[2020-04-06 08:45] surdu commented on #24
Closed in #93

[2020-04-06 08:45] #24 closed

[2020-04-06 08:45] surdu commented on #25
Closed in #93

[2020-04-06 08:45] #25 closed

[2020-04-06 08:46] surdu commented on #26
Closed in #93

[2020-04-06 08:46] #26 closed

[2020-04-06 08:48] maloun96 commented on #30
I will take it.

[2020-04-06 09:05] surdu commented on #27
@mmioana Have you had a chance to start working in this ?

[2020-04-06 09:08] surdu opened #145 "Create filterable table component"
Sortable table component will be used on most daashboard pages:
https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=145%3A16

**Default state**
<img width="959" alt="Screen Shot 2020-04-06 at 12 31 33 PM" src="https://user-images.githubusercontent.com/11520795/78544306-99926f80-7802-11ea-88ed-413dc3a61c86.png">

**Clicked state**
<img width="887" alt="Screen Shot 2020-04-0

[2020-04-06 09:26] maloun96 commented on #145
I will take it

[2020-04-06 09:39] RaduCStefanescu commented on #30
This issue is similar to https://github.com/code4romania/stam-acasa/issues/27
We need to develop a table that contains all the answers received, something very similar to https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=144%3A535

[2020-04-06 10:06] mmioana commented on #27
@surdu I already started working on this last week, but had to stop until the components I created were included in the https://github.com/code4romania/taskforce-fe-components release.
Will continue working today :)

[2020-04-06 10:41] surdu commented on #27
@mmioana please be aware that [we now have a dashboard](https://stam-acasa.now.sh/dashboard) layout and someone is working on this: #145

[2020-04-06 11:29] mmioana commented on #27
@surdu then should I wait until #145 is completed?

[2020-04-06 12:01] surdu commented on #27
@mmioana I think that would be wise

[2020-04-06 15:02] #81 closed, assigned to Puiu

[2020-04-07 06:58] #124 closed, assigned to mmircea16

[2020-04-07 17:37] surdu opened #152 "Create admin login"
An admin should login before having access to the dashboard.

 - the login for the dashboard should [look the same]( https://www.figma.com/file/rdg8gZtSWNYaVtupMtdhST/CoVid---Stam-Acasa?node-id=146%3A1266) as for a normal user
- there should be a separate user model/entity for an admin, different than the normal user
- there is no registration process. The admins will be added manually

[2020-04-07 23:34] #126 closed, assigned to VeronicaM

[2020-04-08 05:57] tudorgergely commented on #98
@surdu totally forgot about this. What is actually left? we have authenticated routes, what data do we need to get from the API?

[2020-04-08 06:01] tudorgergely commented on #43
@surdu https://github.com/code4romania/taskforce-fe-components/issues/31 got merged.

@chedydy still want this? :)

[2020-04-08 07:05] #64 closed, assigned to abalaci

[2020-04-08 07:13] serbandin commented on #152
maybe we can use roles and authorize actions based on roles?

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/roles?view=aspnetcore-3.1

[2020-04-08 07:24] serbandin commented on #152
This means we could specify new Authorize attributes only for admins-only pages/actions.

[2020-04-08 07:42] #118 closed, assigned to sudo-robert

[2020-04-08 07:45] RaduCStefanescu opened #156 "Cache email templates in email service"
Improve the performance of the Email Service by caching the templates, so the service does not read the files from disk everytime we need to send an email.

[2020-04-08 08:02] abalaci commented on #156
Should the caching happen in memory, or do we want something distributed, like Redis?

[2020-04-08 08:41] irinel-nistor commented on #156
I would like to work on this task, if you didn't want to do it first @abalaci

[2020-04-08 08:56] abalaci commented on #156
That’s alright, @irinel-nistor, you can have it if you really wanted it.

[2020-04-08 10:13] #110 closed, assigned to virtual4real

[2020-04-08 10:24] #113 closed, assigned to serbandin

[2020-04-08 10:26] RaduCStefanescu opened #157 "Fix api crash when no profile for family exits"
When no family profile exists, the assessment form returns `500 Internal Server Error` on `/api/profile/family`

[2020-04-08 10:29] RaduCStefanescu opened #158 "Improve assessment service to read files from disk"
Currently, the assessment service returns assessment forms that are static strings in the service. In order to be able to modify these files, we need to serve them from disk.

[2020-04-08 10:30] RaduCStefanescu commented on #98
I just pushed a PR that exposes a new endpoint on `/api/form/version`
The frontend needs to get the forms from this endpoint.

[2020-04-08 10:33] RaduCStefanescu commented on #20
This has been handled in #124 that we closed.
Closing this one as well.

[2020-04-08 10:33] #20 closed

[2020-04-08 10:34] RaduCStefanescu commented on #54
This issue is handled in #126 that we just closed.
Will close this one as well.

[2020-04-08 10:34] #54 closed

[2020-04-08 10:34] RaduCStefanescu commented on #17
This is being handled in #121 so I will close it.

[2020-04-08 10:34] #17 closed

[2020-04-08 10:38] idormenco commented on #158
i will take this

[2020-04-08 11:25] RaduCStefanescu commented on #43
This one is already implemented in #126
We can close it.

[2020-04-08 11:25] #43 closed

[2020-04-08 11:46] RaduCStefanescu commented on #156
Heya!
The caching should happen in memory, we will only have a few templates that we will use.
I have no idea who should I assign this one to, but I will go with @irinel-nistor I guess. It's all yours!

[2020-04-08 11:55] idormenco commented on #157
i will take this

[2020-04-08 12:51] RaduCStefanescu opened #161 "AssessmentNotificationsDispatch should use the EmailRequestModel"
Currently the AssessmentNotificationsDispatch uses the AssessmentNotification when sending requests to the Email Service. This needs to be changed to the EmailRequestModel.

[2020-04-08 13:03] idormenco commented on #161
which queue should it use ?

[2020-04-08 13:10] RaduCStefanescu commented on #161
The regular email queue that we use for all the requests.

[2020-04-08 13:33] #158 closed, assigned to idormenco

[2020-04-08 13:52] RaduCStefanescu opened #163 "Redirect to homepage after registration is complete"
Currently, after a user register with an email and a password, we redirect to a standard Identity Server page.
1. Let's add CSS for the `RegisterConfirmation` page to use the same look and feel as the other pages
2. Redirect to the homepage after 5 seconds

[2020-04-08 14:34] irinel-nistor commented on #161
Could I pick this up? @idormenco do you want to work on it?

[2020-04-08 15:08] idormenco commented on #161
@irinel-nistor you can have it

[2020-04-08 15:26] idormenco commented on #152
i want this one

[2020-04-08 15:34] #156 closed, assigned to irinel-nistor

[2020-04-08 15:41] #157 closed, assigned to idormenco

[2020-04-08 17:19] trupci opened #167 "Logging for backend projects"
Use Serilog for logging in backend projects.

[2020-04-09 07:10] #163 closed, assigned to trupci

[2020-04-09 07:48] irinel-nistor commented on #161
It is not clear for me what values we should add to the EmailRequestModel (eg Address, Temlpate). Should it be Address = user.Email, Template = "dailyAssesment", PlaceholderContent = {"name", user.Name}?

[2020-04-09 08:00] maloun96 commented on #44
pot sa-l iau eu?

[2020-04-09 08:33] surdu commented on #30
@RaduCStefanescu The table was implemented in #145 . Do we have some backend apis that
@maloun96 could use to populate these views ?

[2020-04-09 08:35] surdu commented on #145
Fixed in #148

[2020-04-09 08:35] #145 closed, assigned to nobody

[2020-04-09 08:55] RaduCStefanescu commented on #161
Yes, that sounds about right
- Address = user.Email
- Template = DailyAssessment
- PlaceholderContent = { "name", user.Name + " " + user.Surname}

[2020-04-09 08:58] RaduCStefanescu commented on #30
hey, currently we do not expose any apis for the admin part.

[2020-04-09 08:58] surdu commented on #44
Considering we haven't herd from @chedydy in 12 days, I believe is safe for @maloun96 to take this

[2020-04-09 09:50] RaduCStefanescu opened #170 "Integrate API calls in historic results components"
Currently the `Profilul meu` page displays the history of assessments and profile for user and family members.
The data in the components is dummy data.
The components need to use the endpoints to retrieve user and familiy profile, and assessment history:
- `/api/Profile`
- `/api/Profile/family`
- `/api/Form`

[2020-04-09 10:06] idormenco commented on #167
i will implement this

[2020-04-09 10:21] mmioana commented on #27
@surdu seems this one was already solved by #145

[2020-04-09 10:50] surdu commented on #27
We'll still need to populate the list from API at some point ... but yes, the component was done separately considering it's the same for most dashboard pages

[2020-04-09 13:38] teodoradima commented on #170
can I take this one?  🙏

[2020-04-09 13:38] #44 closed

[2020-04-09 13:40] surdu commented on #170
@teodoradima All yours!

[2020-04-09 13:50] RaduCStefanescu commented on #170
Go for it @teodoradima !
Let us know if you have any questions.

[2020-04-09 16:08] #161 closed, assigned to irinel-nistor

[2020-04-10 08:37] #167 closed, assigned to idormenco

[2020-04-10 09:28] #98 closed, assigned to tudorgergely

[2020-04-10 11:41] RaduCStefanescu opened #180 "Frontend workflow on first login"
When a user logs in the application we want to have a clear workflow:
- user completes profile
- user completes profile for people in his care
- user completes initial assessment for himself and people in his care

For this we need to do the following:
- change the order of tabs in the frontend: `Profilul meu`, `Adauga-ti familia in cont`, `Completeaza formularul de evaluare`
- a user can only nav

[2020-04-10 11:47] RaduCStefanescu opened #181 "Configure homepage after user completes profile"
After a user has completed his profile, the `Profilul meu` page should contain historic information about his profile and the assessments a user has completed.
This component has been developed as part of #126

[2020-04-10 11:52] RaduCStefanescu opened #182 "Improve email templates"
We need to improve the email templates with the following information:
- email subject
- logo for ADR/Code for Romania
- email content
- additional information we need to send an user {name surname}
- signature

[2020-04-10 13:09] irinel-nistor commented on #182
I'd like to work on it, but I have some questions:
*email subject, should this be a property added to the EmailRequestModel?
*signature, should this be added to the html template files?
*logo: should it be a file or link referenced int the template files?
*additional info and email content, should this be added in the template html files?

[2020-04-10 14:48] RaduCStefanescu commented on #182
- email subject - no, let's keep the same subject depending on the template, we can add it as a property on the template type enum
- signature - yes, add it to the html template
- logo- we have the logos in https://github.com/code4romania/covid-assets - we should add them to the template files
- yes, in the template files, no worries about the content, I will ask the UX team to come up with some g

[2020-04-11 14:58] #123 closed, assigned to tudorgergely, adascaliteiradu

[2020-04-11 16:43] #121 closed, assigned to mmircea16, AndreiMitrea

[2020-04-11 19:41] teodoradima commented on #170
Would this also close issue #181?

[2020-04-12 07:04] RaduCStefanescu commented on #170
We still need to do the check if the user has completed his profile or not.
Let's leave it as a sepparate issue for now.

[2020-04-12 07:51] #182 closed, assigned to irinel-nistor

[2020-04-12 08:06] #170 closed, assigned to teodoradima

[2020-04-12 08:17] irinel-nistor commented on #181
I've seen a comment in another issue(#170 ) Is this what it's left to be done for this item:
"We still need to do the check if the user has completed his profile or not.
Let's leave it as a sepparate issue for now.".
I'd like to work on this. (@teodoradima  will help me :D)

[2020-04-12 08:25] RaduCStefanescu commented on #181
I am just testing this and I will come back with an answer.
Thank you!

[2020-04-12 08:44] RaduCStefanescu commented on #181
I think it would be better to start working on #180 until I get back with an answer on this one.
What do you say @irinel-nistor and @teodoradima ?

[2020-04-12 08:47] RaduCStefanescu opened #188 "Integrate county/city component from taskforce components"
We need to integrate the components developed as part of https://github.com/code4romania/taskforce-fe-components/issues/147 for the User and Family profile.

[2020-04-12 08:49] irinel-nistor commented on #181
On it 🚀

[2020-04-12 08:49] RaduCStefanescu opened #189 "Right hand column is not displayed on Family profile page"
The `Adauga-ti familia in cont` page is missing the right hand. columns as the other 2 tabs are displaying.

[2020-04-12 08:49] RaduCStefanescu commented on #180
@irinel-nistor are you looking into this one?

[2020-04-12 10:50] irinel-nistor commented on #180
Yes, i'm looking into it

[2020-04-12 14:49] RaduCStefanescu opened #190 "Daily emails to state entities should use the stateEntity template and enum value"
Use stateEntity template for sending daily emails to state entities.

[2020-04-12 15:07] #117 closed, assigned to bogdanbujdea

[2020-04-12 15:39] #97 closed, assigned to danielmiu

[2020-04-12 17:49] bogdanbujdea commented on #190
I used the correct enum in this PR
https://github.com/code4romania/stam-acasa/pull/194

[2020-04-13 07:24] cipick commented on #189
<img width="1188" alt="Screenshot 2020-04-13 at 10 21 21" src="https://user-images.githubusercontent.com/6429818/79101106-8c303480-7d70-11ea-80ba-ec845df41a71.png">
@RaduCStefanescu it seems that this page has the sidebar, it should be removed?

[2020-04-13 07:30] #190 closed, assigned to nobody

[2020-04-13 07:32] RaduCStefanescu commented on #189
@cipick please checkout the latest code on `develop` branch, the sidebar is missing and it should be there.
<img width="1221" alt="Screenshot 2020-04-13 at 10 31 27" src="https://user-images.githubusercontent.com/15039873/79101809-0d3bfb80-7d72-11ea-8bdd-b8529e4e07a2.png">

[2020-04-13 07:37] RaduCStefanescu opened #197 "Load `Profilul meu` as default on homepage after login"
Currently, after login, no tab is being loaded on the homepage.
<img width="1219" alt="Screenshot 2020-04-13 at 10 36 14" src="https://user-images.githubusercontent.com/15039873/79102054-a3702180-7d72-11ea-94f7-86aceb2958e7.png">
The `Profilul meu` page should be loaded by default after the login.

[2020-04-13 07:46] RaduCStefanescu opened #198 "Historic results component does not query Forms endpoint"
Currently, the component displaying history of forms completed does not query the Forms endpoint and shows only dummy data.

[2020-04-13 07:52] cipick commented on #189
🤦 yep i can see the changes now, will take this if that's ok

[2020-04-13 07:55] RaduCStefanescu opened #199 "Fixes for `Profilul meu` page"
After a user completes his profile, we display a description of his profile in the `Profilul meu` page.

There are some issues that need to be fixed on that page:
- Change the `Izolare proprie la domiciliu:` from integer to string
- Display value for `Genul:`
- Display value for `Izolare alte persoane la domiciliu: `

[2020-04-13 07:59] surdu commented on #189
@cipick all yours

[2020-04-13 08:01] RaduCStefanescu opened #200 "Insert `Niciuna de mai sus` option on profile"
When a user completes a profile for himself or a family member, an option of `Niciuna de mai sus` should be available for `Ti-a spus vreun medic că are oricare dintre următoarele afecțiuni?`

[2020-04-13 08:08] RaduCStefanescu opened #202 "Assessment form for family members should display the full name"
The assessment form for family members does not display the full name (name and surname) it only displays the name.

[2020-04-13 08:24] teodoradima commented on #198
🙋‍♀️

[2020-04-13 08:25] surdu commented on #198
@teodoradima 👈

[2020-04-13 08:26] cipick commented on #197
i can take this one :)

[2020-04-13 08:27] idormenco commented on #188
on it

[2020-04-13 08:29] #189 closed, assigned to cipick

[2020-04-13 08:30] dragosrobertn commented on #199
Where do these values come from? Is there an endpoint response I can work with?

[2020-04-13 08:54] idormenco commented on #200
on it

[2020-04-13 09:04] cipick commented on #202
on it :D

[2020-04-13 09:07] surdu commented on #188
@idormenco The taskforce component is not merged yet

[2020-04-13 10:06] idormenco commented on #197
@cipick i know you took this one ,but i investigated also this issue ....
I will leave here what changes should be done (in my opinion)
in App.js we should have this line
`return <Redirect key={path} from={path} to="/account" />;`

[2020-04-13 10:21] RaduCStefanescu commented on #199
Yes, you should be able to GET these values from the `/api/profile` which is already covered. We just need to change the values retrieved from integer to string. These values are also present in frontend. Will come back on Slack with the information.

[2020-04-13 10:26] idormenco commented on #188
@surdu i will wait until it is finished and then use it

[2020-04-13 10:35] #202 closed, assigned to cipick

[2020-04-13 10:36] RaduCStefanescu commented on #197
@cipick @idormenco team work!

[2020-04-13 10:49] idormenco commented on #199
@dragosrobertn can i have it ? i am new to ract and i already debugged this .

[2020-04-13 10:51] dragosrobertn commented on #199
Good luck @idormenco! 👍

[2020-04-13 11:05] #200 closed, assigned to idormenco

[2020-04-13 11:05] RaduCStefanescu commented on #116
Looking over the code and the latest changes, this one seems to be fixed.
Closing it.

[2020-04-13 11:05] #116 closed, assigned to cosminpopescu14

[2020-04-13 11:10] #199 closed, assigned to idormenco

[2020-04-13 11:15] #197 closed, assigned to idormenco, cipick

[2020-04-13 11:21] CatalinTrand commented on #181
I can take this one

[2020-04-13 11:25] RaduCStefanescu commented on #181
All yours @CatalinTrand
Let us know if you have any questions.

[2020-04-13 11:28] surdu commented on #188
@idormenco component is merged. go go go 🚀

[2020-04-13 11:43] RaduCStefanescu commented on #188
Yup, new version available with new component added: https://github.com/code4romania/taskforce-fe-components/releases/tag/v1.0.11

[2020-04-13 12:08] RaduCStefanescu opened #208 "New profile does not contain all fields"
When saving a new profile, not all values are saved correctly.

quarantineStatusOthers is saved as `null` in the database.

[2020-04-13 13:37] #208 closed, assigned to nobody

[2020-04-13 14:52] RaduCStefanescu opened #210 "Retry connection to database"
API and Identity Server, when started in Docker containers, fail because they try to establish a database connection before the DB container is ready to receive requests.
We need to retry the connection in both services, until it becomes available.

[2020-04-13 15:37] idormenco commented on #188
county: [
    { value: 1, label: "Dolj" },
    { value: 2, label: "Bacău" },
    { value: 3, label: "Harghita" },
    { value: 4, label: "Bistrița-Năsăud" },
    { value: 5, label: "Dîmbovița" },
    { value: 6, label: "Suceava" },
    { value: 7, label: "Botoșani" },
    { value: 8, label: "Brașov" },
    { value: 9, label: "București" },
    { value: 10, label: "Brăila" },
    { value: 11, label

[2020-04-13 15:42] irinel-nistor commented on #180
It is not clear for me if the user should be stopped from going on the 'Completeaza formularul de evaluare' from the 'Adauga-ti familia in cont' tab. Maybe the user lives alone.
Should it be only stopped from entering the 'Completeaza formularul de evaluare'  if he doesn't have a profile? Only after he creates his own profile from the first tab?

[2020-04-13 16:29] RaduCStefanescu commented on #180
We should only let the user navigate to `Completeaza formularul de evaluare` after the user creates a profile in the first tab.

[2020-04-13 17:30] trupci opened #214 "[Identity server] Use a certificate to sign access tokens"
Identity Server signs access tokens with a key. For development scenarios, we are [currently](https://github.com/code4romania/stam-acasa/blob/97fc3bd30443cde13006b198e59df987d65658b8/backend/src/StamAcasa.IdentityServer/Startup.cs#L47) using `AddDeveloperSigningCredential`. For production, we should be using a certificate.

Reference [here](https://stackoverflow.com/questions/46142991/what-is-the-

[2020-04-13 18:24] #188 closed, assigned to idormenco

[2020-04-13 18:31] #180 closed, assigned to irinel-nistor

[2020-04-15 12:00] RaduCStefanescu opened #222 "Registration links are sent using localhost"
When a user registers on the http://dev.stamaacasa.ro the email received contains the registration link with `http://127.0.0.1`
The URL should be configurable from app settings.

[2020-04-15 12:32] #222 closed, assigned to idormenco

[2020-04-15 13:17] RaduCStefanescu opened #224 "Add client applications for test/prod"
We need to add `ClientApplications` in Identity Server that can be overwritten by env variables.

[2020-04-15 13:18] idormenco commented on #224
on it

[2020-04-15 15:43] #224 closed, assigned to idormenco

[2020-04-15 17:25] RaduCStefanescu opened #226 "Profilul meu page does not work as expected"
After login, the `Profilul meu` page does not load the profile page structure.

<img width="1304" alt="Screenshot 2020-04-15 at 20 21 46" src="https://user-images.githubusercontent.com/15039873/79367691-f5719c80-7f56-11ea-985d-43bbc7a537de.png">

After reloading the page, the form is loaded, but the links bar on the right hand side is loaded twice.

<img width="1313" alt="Screenshot 2020-04-15 at

[2020-04-15 17:32] RaduCStefanescu opened #227 "Logout redirect to account page and not to homepage"
After a user logs out, the redirect is on the account page.
The redirect should be on the homepage.

[2020-04-15 17:51] teodoradima commented on #226
🙋‍♀️

[2020-04-15 17:52] teodoradima commented on #227
🙋‍♀️

[2020-04-16 06:50] #226 closed, assigned to teodoradima

[2020-04-16 07:41] #198 closed, assigned to teodoradima

[2020-04-16 07:47] #227 closed, assigned to teodoradima

[2020-04-16 11:34] RaduCStefanescu opened #230 "Incorrect publish method in assessment notification dispatch"
Currently, the assessment notification dispatch job fails with the following call stack:

[code]

This is because the service uses the unimplemented PostNotification method and not the PostEmailRequest method. This needs to be changed in `AssessmentNotificationDispatch.cs` at line 27.

[2020-04-16 11:35] irinel-nistor commented on #230
I'd like to work on this one

[2020-04-16 11:50] RaduCStefanescu commented on #230
This is a `dotnet` issue, are you good with that?

[2020-04-16 11:54] irinel-nistor commented on #230
yes, I'm mainly a dotnet backend developer

[2020-04-16 12:05] RaduCStefanescu commented on #230
Great, cause you handled a lot of frontend issues these days.
It's all yours!

[2020-04-16 12:08] RaduCStefanescu opened #231 "Exception thrown in Results Notification Job"
Currently, the SendResultsNotificationJob is failing with the following stack:

[code]

It seems the pipeline is failing if there are no assessments for a particular county.

[2020-04-16 12:59] #230 closed, assigned to irinel-nistor

[2020-04-16 13:32] aniri opened #233 "Confusing romglish password field validation message"
`The Setează parola must be at least 6 and at max 100 characters long.`

[2020-04-16 13:53] aniri opened #234 "Wrong redirect to identity server after email confirmation"
Expected behaviour:
- after I confirm my email address, I get redirected to the frontend url

Current behaviour:
- after I confirm my email address, I get redirected to the identity server url

[2020-04-16 14:04] teodoradima opened #235 "Clicking on the logo does not render homepage"
**Steps to reproduce:**
GIVEN
- User logs in and is redirected to /account url
- User has one of the three tabs active

WHEN
- User clicks the header logo in order to navigate to the homepage

THEN
- User is still presented with the three tabs, but the previously selected tab is deselected and there is no content on the page (however, the browser address is changed to "/")

**Expected behavior:**

[2020-04-16 14:09] aniri opened #236 "`Profilul meu` content not loaded by default after redirect"
- I filled in the evaluation form for the first time
- after saving the form, I got redirected, but no content was opened by default, see screenshot:

![Screenshot from 2020-04-16 17-00-21](https://user-images.githubusercontent.com/1358055/79466069-c0bc1e80-8004-11ea-950a-df4b5a4c8587.png)

[2020-04-16 14:15] aniri opened #237 "Forgot password option not working"

[2020-04-16 14:17] aniri opened #238 "The `contul meu` option from menu redirects to the main page and not to my account"

[2020-04-16 14:43] irinel-nistor commented on #234
I'd like to work on this one

[2020-04-16 17:49] teodoradima commented on #235
🙋‍♀️

[2020-04-16 17:49] teodoradima commented on #236
🙋‍♀️

[2020-04-16 17:49] teodoradima commented on #238
🙋‍♀️

[2020-04-16 19:50] teodoradima opened #242 "Unregistered users are not correctly redirected to the home page when accessing the app using a protected route"
**Steps to reproduce:**
GIVEN
- User is logged out of the application;

WHEN
- User attempts navigation using the account protected route (https://dev.stamacasa.ro/account/ );

THEN
- User is presented with a static blank screen with no elements at all.

Note: For `/add-members` and `/evaluation` routes, the user is presented with the home page but the url does not change to `/`.

**Expected resul

[2020-04-17 05:59] irinel-nistor commented on #237
I'd like to work on this one

[2020-04-17 08:21] #234 closed, assigned to irinel-nistor

[2020-04-17 08:29] RaduCStefanescu commented on #242
Good catch @teodoradima !

[2020-04-17 08:46] RaduCStefanescu commented on #237
It's all yours @irinel-nistor
As far as I remember, this was not implemented yet, so it is a new feature.

[2020-04-17 08:57] #231 closed, assigned to bogdanbujdea

[2020-04-17 10:32] #233 closed, assigned to RaduCStefanescu

[2020-04-17 10:35] RaduCStefanescu commented on #181
This one is already handled it seems, as I see from the latest deployments.
Will close it.
Thank you for your work @CatalinTrand @irinel-nistor

[2020-04-17 10:35] #181 closed, assigned to CatalinTrand

[2020-04-17 10:45] #235 closed, assigned to teodoradima

[2020-04-17 10:45] RaduCStefanescu commented on #238
Fixed in #241

[2020-04-17 10:45] #238 closed, assigned to teodoradima

[2020-04-17 10:46] RaduCStefanescu commented on #236
Fixed in #241

[2020-04-17 10:46] #236 closed, assigned to teodoradima

[2020-04-17 11:29] RaduCStefanescu opened #246 "Send daily assessment emails only to parent users"
Currently, when we send daily assessment email, we query for all users and send email to them. The emails should be sent only for parent users, the ones that created the account.

The change should happen in `AssessmentNotificationsDispatch:Process()`

[2020-04-17 11:32] RaduCStefanescu opened #247 "Content for About page"
Please provide content for About page on Stam Acasa.

[2020-04-17 13:27] irinel-nistor commented on #237
I have a couple of questions:
1. Should this use the same queues mechanism as register to send the email
2. Should I create an Email template similar to register for this?

[2020-04-17 13:33] RaduCStefanescu commented on #237
1. yes
2. yes

[2020-04-17 14:18] teodoradima commented on #242
🙋‍♀️

[2020-04-17 14:40] mihaipopescu commented on #246
Sounds simple enough, I'll take a look.

[2020-04-18 07:59] gepaltineanu opened #249 "Incorrect timing of question inside the form"
If the user answers with 'No' to the following question:
"Ai avut in ultimele 14 zile orice semn/simptom de raceală sau gripă?"
The next question the user gets is:
"Te rugăm să specifici zona/țara la care te referi"

This does not make sense at this moment as there has not been a prior question to ask if the user has traveled to any foreign countries.

The exact flow followed was:
1. Age: 120
2. G

[2020-04-18 08:07] gepaltineanu opened #250 "The form asks about other people inside the household even when there are none stated"
If the user answers 'No' to the following question:
"În momentul de față, împarți locuința și cu alte persoane?"
The following question is still asking about other people:
"Celelalte persoane din locuință se află în izolare la domiciliu?"

[2020-04-18 18:16] DragomirStefanaCatalina opened #251 "Missing role link for https://www.aadr.ro"
Starting point: https://dev.stamacasa.ro

**Expected:**
Click on role img Autoritatea pentru digitalizarea României
Autoritatea pentru digitalizarea României site opens https://www.aadr.ro

**Actual**:
Click on role img Autoritatea pentru digitalizarea României
Guvernul României site opens https://www.gov.ro

![Screenshot 2020-04-18 at 12 26 08](https://user-images.githubusercontent.com/61550276/7

[2020-04-18 18:20] DragomirStefanaCatalina opened #252 "Search bar doesn't work"
Starting point: https://dev.stamacasa.ro

**Actual**:
Search bar doesn't show any result

![Screenshot 2020-04-18 at 12 26 33](https://user-images.githubusercontent.com/61550276/79651957-35848980-81ba-11ea-8afe-06df9e658ad7.png)

[2020-04-18 18:31] DragomirStefanaCatalina opened #253 "Cant go back to stamacasa from cetrebuiesafac"
Starting point: https://dev.stamacasa.ro

**Expected**:
1. Click on

from the bottom of the page
![Screenshot 2020-04-18 at 12 26 49](https://user-images.githubusercontent.com/61550276/79654601-fc004e00-81ba-11ea-894c-41f9ab550476.png)

2. Page https://cetrebuiesafac.ro opens

3. Click on back

4. Return to https://dev.stamacasa.ro

**Actual**:
1. Click on

from the bottom of the page

2. Page htt

[2020-04-18 18:41] DragomirStefanaCatalina opened #254 "Blank page after confirmation message for new account"
Starting point: https://dev-is.stamacasa.ro/Identity/Account/ConfirmEmail?userId=19cedc5d-f3ab-461e-a727-cf4a99fd2873&code=Q2ZESjhCbmwvckZidU01RGxXUVowenJhbUVxNU1abmw3cmovQWozUWN6UmZiVCs0U2U1ejFZVUlONHdYVFltYXZtRjlJakhZYWVmREtJcEhmMmlrOWVybDlKaENZRG5RRTVUVEJ0cjJTekErcnNma0dmd1ovRXFnKytIVWJtcEZKRzZrUk5pS1dlcTZ0QU1UcExWajVYeXpoeU1ZVHNFMy9jNTZmRmkxUW9FVWFVcVp2TVZLY0JaUUtucnFwTWVXMmR6dUNTWWpyNkFMVzEwW

[2020-04-18 18:49] DragomirStefanaCatalina opened #255 "Cant edit your profile"
Starting point: https://dev.stamacasa.ro/account/me

**Expected**:

Editing your profile by clicking

**Actual**:

Click on

![Screenshot 2020-04-18 at 12 32 59](https://user-images.githubusercontent.com/61550276/79664108-bc873100-81bd-11ea-8e8c-a6921438b8a4.png)

Nothing happens

[2020-04-18 19:00] DragomirStefanaCatalina opened #256 "Name field containing characters doesn't appear mandatory"
Starting point: https://dev.stamacasa.ro/account/me

**Expected**:
Name field containing characters should be mandatory when you add Alte persoane

**Actual**:
You can click on

![Screenshot 2020-04-18 at 12 36 18](https://user-images.githubusercontent.com/61550276/79667942-d1b08f80-81be-11ea-82e3-9bf3a29d3ac5.png)
 & continue the procedure to add Alte persoane when Name field consists of symbols,

[2020-04-18 19:07] DragomirStefanaCatalina opened #257 "Cant add a family member with Phone number field empty"
Starting point: https://dev.stamacasa.ro/account/me

**Expected**:
You are permitted to add a family member even if the person doesn't have a phone number

**Actual**:
You cant click on

in order to add a family member if the Phone number field is empty
![Screenshot 2020-04-18 at 12 37 17](https://user-images.githubusercontent.com/61550276/79668902-a9299500-81c0-11ea-989e-a9b6856ecd2c.png)

[2020-04-18 19:10] DragomirStefanaCatalina opened #258 "History doesn't correspond"
Starting point: https://dev.stamacasa.ro/account/me

**Expected**:
Each profile should have customised history

**Actual**:
My history doesn't correspond to my profile
![Screenshot 2020-04-18 at 12 42 28](https://user-images.githubusercontent.com/61550276/79668982-23f2b000-81c1-11ea-8179-6e52637e5d79.png)

[2020-04-18 19:17] DragomirStefanaCatalina opened #259 "Cant reset your password"
Starting point: https://dev-is.stamacasa.ro/account/login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Dawsjsclient%26redirect_uri%3Dhttps%253A%252F%252Fdev.stamacasa.ro%252Fsignin-oidc%26response_type%3Did_token%2520token%26scope%3Dopenid%2520email%2520answersApi%2520usersApi%26state%3D4535c1bfedf2412ba11b7315ebd92ffe%26nonce%3D636eb371aec7490fb5198349ce9feb4f

**Expected**:
Forgot yo

[2020-04-18 19:20] DragomirStefanaCatalina opened #260 "Cant edit your family member's profile"
Starting point: https://dev.stamacasa.ro/evaluation/other-members/11

**Expected**:

Editing your family member's profile by clicking

**Actual**:

Click on

Nothing happens

[2020-04-18 20:46] danaandres opened #261 "Phone number field containing numeric doesn't appear mandatory"
Starting point: https://dev.stamacasa.ro/account/me

Expected:
Phone number field containing numeric should be mandatory when you fill in Date Personale/Profilul Meu.

Actual:
You can click on Continua button.
![numeric phone number](https://user-images.githubusercontent.com/47795680/79670891-666abb80-81c6-11ea-9df7-3f04ea95fcf7.png)

[2020-04-18 21:43] danaandres opened #262 "Hover message in english"
Starting point: https://dev.stamacasa.ro/account

Expected: Hover message should be written in romanian.

Actual: Hover message is write in english.

![hover in english](https://user-images.githubusercontent.com/47795680/79671871-ef392580-81cd-11ea-9c89-ab9840e5338b.png)

[2020-04-18 21:59] danaandres opened #263 "No character number limit on phone field"
Starting point: https://dev.stamacasa.ro/account

Expected: you should fill in with max 13 - min 10 numeric characters.

Actual: no limit of character number.

![no character limit](https://user-images.githubusercontent.com/47795680/79672249-830bf100-81d0-11ea-931d-c3493fdd5413.png)

[2020-04-19 00:24] surdu commented on #262
For whom will tackle this issue, [this](https://stackoverflow.com/questions/5272433/html5-form-required-attribute-set-custom-validation-message) might be a good starting point.

[2020-04-19 00:26] surdu commented on #259
This is a duplicate of #237

[2020-04-19 00:26] #259 closed, assigned to nobody

[2020-04-19 00:31] surdu commented on #253
Maybe I'm misunderstanding this, but it sounds to me like this is a missing link issue with https://github.com/code4romania/ce-ma-fac

[2020-04-19 14:01] #237 closed, assigned to irinel-nistor

[2020-04-19 14:04] RaduCStefanescu commented on #246
All yours @mihaipopescu
Let us know if you have any questions 👍

[2020-04-19 14:18] RaduCStefanescu commented on #251
@overeha where should the ADR logo link to? The ADR site or the gov site?

[2020-04-19 14:22] RaduCStefanescu commented on #252
Yup, you are right. In the context of this site, the search bar has no sense and it should be removed.

[2020-04-19 14:31] RaduCStefanescu commented on #257
@overeha should we make telephone number on add family member mandatory?

[2020-04-19 14:33] RaduCStefanescu commented on #258
Yup, currently the load history feature is not working properly. Starting from this issue and after updating the form used for assessments, the assessment history will load correctly.

[2020-04-19 14:47] RaduCStefanescu commented on #253
No, the issue is with the link we are using for Ce ma fac in the footer. The correct link should be cetrebuiesafac.ro and the text changed to Ce trebuie sa fac. Because of the redirect from cemafac.ro to cetrebuiesafac.ro, we are getting this behavior.

[2020-04-19 15:20] RaduCStefanescu opened #264 "Change logging to file logging"
Currently all the services are outputing logs to standard out and this is making it difficult to watch for potential workflow problems in development environment.
Change the output to log file.

[2020-04-19 15:26] RaduCStefanescu opened #265 "Modify excel file sent to authorities"
The excel file sent to authorities contains answers in int format, for questions that have multiple answers, just as we are sending these responses from frontend, i.e.
`questionText1`:`Ai avut vreunul din simptomele de mai jos?`
`answer1`: `0`
Instead of sending ids, we need to map the answers from the assessment files `formNewUser.json` and `formFollowUp.json`.

[2020-04-19 16:32] surdu commented on #251
We might want to modify the URL also/only in the taskforce components.

[2020-04-19 19:24] RaduCStefanescu commented on #251
Yes, because we have different behaviors on some projects.

[2020-04-20 06:54] idormenco commented on #264
Will do

[2020-04-20 06:59] idormenco commented on #252
will do

[2020-04-20 07:45] idormenco commented on #253
will do

[2020-04-20 08:15] mihaipopescu commented on #246
I'm still trying to figure out how would I go about and test this in general as I don't have an SMTP server running. Would also be nice to have a way to poke around the database as I enter some data as I just discovered Alice and Bob users.

[2020-04-20 08:25] RaduCStefanescu commented on #246
Are you not able to start your development environment using docker files?

[2020-04-20 08:43] #264 closed, assigned to idormenco

[2020-04-20 09:00] #253 closed, assigned to idormenco

[2020-04-20 09:04] tudorgergely commented on #262
FYI: the language used in form validation messages is the default language of your OS (not sure if we should force Romanian or not) @surdu

[2020-04-20 09:05] #252 closed, assigned to idormenco

[2020-04-20 09:13] irinel-nistor commented on #260
I"d like to work on this one

[2020-04-20 09:16] RaduCStefanescu opened #270 "Improve Date Picker component"
The date picker component still displays a String with the message: Here is a custom component. We need to change this value with something closer to the needs of this project: Vă rugăm introduceți data de la care au apărut aceste simptome.

<img width="812" alt="Screenshot 2020-04-20 at 12 17 23" src="https://user-images.githubusercontent.com/15039873/79735572-26f4ba00-8301-11ea-8aaa-dfe1e6fc64a7

[2020-04-20 09:20] RaduCStefanescu commented on #260
Hey @irinel-nistor all yours!

[2020-04-20 09:21] irinel-nistor commented on #260
None of the edit profile buttons seem to do anything. Would this be a new feature? Should the button click take the user back to the form where he can submit the data again?

[2020-04-20 09:44] RaduCStefanescu commented on #260
Yes, we should re-use the form for creating the profile, but in this case, we need to pre-populate the form with the details the user already inserted. Do you think this is doable?

[2020-04-20 09:52] irinel-nistor commented on #260
Yes, that's what I had in mind. Should I also create a PUT profile endpoint? We currently only have on for family.

[2020-04-20 09:53] RaduCStefanescu commented on #260
Yes, we need to implement the UPDATE operation as well.

[2020-04-20 10:22] idormenco commented on #265
will do

[2020-04-20 10:40] RaduCStefanescu commented on #255
This is also being handled as part of #287

[2020-04-20 10:41] RaduCStefanescu commented on #258
Just an update on my side - we have updated the form to the correct version, containing the correct questions. The format of the answers in the backend has changed and this should be the correct format that we need to handle on the historic component.

[2020-04-20 11:05] Dima000 commented on #263
I would like to take this one.
And also https://github.com/code4romania/stam-acasa/issues/261, because they seem related

[2020-04-20 11:05] Dima000 commented on #261
I would like to take this one.
And also https://github.com/code4romania/stam-acasa/issues/263, because they seem related

[2020-04-20 11:08] teodoradima commented on #254
🙋‍♀️

[2020-04-20 11:29] adrian-pistoleanu commented on #214
Nu ai nevoie de asa ceva. Nu am vazut certificat pe IdentityServer pt generat tokene. Faci asta decat daca esti speriat de bomba. Am implementat certificate in aplicatii distribuite IoT care erau deployed intr-o gramada de locatii ceea ce, evident, ridica probleme de securitate. Dar la un IS e indeajuns un KeyVault sau orice alta locatie de unde iti poti lua un key in mod aproape 100% sigur
LE: +

[2020-04-20 11:36] RaduCStefanescu opened #272 "Email Service doesn't retry the connection to RabbitMQ"
There is a difference of functionality between the Identity Server and the Email Service.
Identity Server will retry the connection to RabbitMQ untiil this connection is established.
Email Service fails if it cannot get a connection to RabbitMQ broker on the first try, and this is affecting the

The Email Service needs to retry the RabbitMQ connection until it is established

[2020-04-20 11:55] danaandres opened #273 "'Varsta in ani impliniti' should be grater than 18"
Starting point: https://dev.stamacasa.ro/account

Expected: When you create your account you should select only numbers grater than 18 when you fill-in 'Varsta in ani impliniti'.

Actual: You can type any number between 0 and 120.

![Varsta0](https://user-images.githubusercontent.com/47795680/79748910-81484780-830e-11ea-9600-89b6ddf60b7f.png)

[2020-04-20 11:59] surdu commented on #273
I don't think this is a requirement, right @RaduCStefanescu ?

[2020-04-20 12:01] RaduCStefanescu commented on #273
From my point of view, yes, it is.

[2020-04-20 12:15] surdu commented on #262
Since we don't offer other language on the website, and most/all users of this website will be Romanian speaking persons, I propose that we force it to Romanian for now. When we'll have multiple languages, we'll let the language selection mechanism choose the language of these messages.

[2020-04-20 12:45] overeha commented on #247
About page and logos below

Despre proiect

Ești izolat la domiciliu iar telefoanele de urgență sunt împovărate de numărul mare de apeluri, făcând astfel evaluarea situațiilor medicale la nivel național o problemă reală. Oare câți alții ca tine sunt în situația ta?

Stăm Acasă este o soluție digitală cu ajutorul căreia reducem suprasolicitarea numerelor de urgență, colectăm rapid informații de la

[2020-04-20 12:54] danaandres opened #275 "'Formularul tau' some fields should be mandatory"
Starting point: https://dev.stamacasa.ro/evaluation/me
Select 'Da' on 'Alte simptome';
Click 'Inainte' button;
Click 'Inainte' without filling in the field.

Expected: When you check others symptoms, you should not be able to click on 'Inainte' button if the field is empty.

Actual: You can click on 'Inainte' button even if the the field is empty.

![mandatory field](https://user-images.githubuser

[2020-04-20 12:59] RaduCStefanescu commented on #273
@overeha what is your opinion?

[2020-04-20 13:00] overeha commented on #257
No, it should not be mandatory. You may add kids under 10 here who do not have phone numbers or ppl in poor communities who do not have phones.

[2020-04-20 13:03] overeha commented on #273
I think it should be 18 and above for the main account as you have to be able to consent to terms of use.
However, it should not be mandatory for the associated family members profiles. You may add your kid who is under 10 or so so you can monitor it.

[2020-04-20 13:09] overeha commented on #273
Currently checking with our lawyer.

[2020-04-20 13:22] RaduCStefanescu commented on #272
This is fixed in #271

[2020-04-20 13:22] #272 closed, assigned to idormenco

[2020-04-20 13:24] RaduCStefanescu commented on #257
Ok, so the telephone number field is not mandatory on family profile. Thank you!

[2020-04-20 13:27] RaduCStefanescu commented on #247
Thank you @overeha This one is good to go it seems

[2020-04-20 13:39] overeha commented on #273
Yes, 18 ani impliniti.
I confirm the lawyer says that the main user should be at least 18.

[2020-04-20 14:02] RaduCStefanescu opened #276 "Hide the dashboard route"
We do not need to have the dashboard route available at this time, so let's hide it.

[2020-04-20 14:08] adrian-pistoleanu commented on #214
Ok, ma pot ocupa eu de asta, desi daca as avea task-ul asta la job, l-as rezolva rapid cu Azure Key Vault.
L-am gasit pe prietenul meu in IS, cu care o sa joc ping-pong cu certificate cu el diseara.
`AddSigningCredential(this IIdentityServerBuilder builder, X509Certificate2 certificate, string signingAlgorithm = "RS256");`
@RaduCStefanescu

[2020-04-20 15:24] #265 closed, assigned to idormenco

[2020-04-20 15:25] danaandres opened #279 "When 'Niciuna de mai sus' is selected, you can still select other option."
https://dev.stamacasa.ro/add-member
Go to 'Date despre starea lor de sanatate';
Go to 'I-a spus vreun medic că are oricare dintre următoarele afecțiuni?';
Select 'Niciuna de mai sus';
Select any others options;

Expected: When 'Niciuna de mai sus' is selected, you should not be able to select other option.

Actual: Even if the 'Niciuna de mai sus' button is selected, you can still select other opt

[2020-04-20 15:28] RaduCStefanescu opened #280 "Generate link for login and redirect in daily assessment email"
When we send the daily assessments email, we need to send a link to the login form and then redirect the user to the `/evaluation/me` route.
The base URL needs to be taken from config, and the URL needs to be published in the email that is sent to the users.

[2020-04-20 15:29] irinel-nistor commented on #280
I would like to work on it

[2020-04-20 15:30] RaduCStefanescu commented on #280
All yours @irinel-nistor

[2020-04-20 15:33] RaduCStefanescu commented on #214
Ok @adrian-pistoleanu e al tau
Ca sa iti mai dau cateva detalii - serviciile vor rula pe masini virtuale intr-un container Docker. As vrea sa putem sa citim certificatul de pe disk, si sa putem sa copiem certificatul in volumul imaginii de Docker. Sa imi zici cum ti se pare ideea.

[2020-04-20 16:19] danaandres opened #281 "User is able to see only first family member registered"
Starting point: https://dev.stamacasa.ro/account/other-members/
Go to drop down and select another family member;

Expected: User should be able to see the selected family member profile.

Actual: When user select another family member from the drop down, the profile is not changed. User can see all the time only first family member profile.

![family members drop down](https://user-images.githubu

[2020-04-20 16:36] danaandres opened #282 "User is not able to change family members profiles from the link."
Starting point: https://dev.stamacasa.ro/account/other-members/
Go to 'Alte persoane in grija' link;
Click on another family member profile.

Expected: Family member profile should be changed.

Actual: When user click on another family member link, nothing happened, profile is not changed.

![family members link](https://user-images.githubusercontent.com/47795680/79776213-b4ea9800-8335-11ea-941b-5

[2020-04-20 17:36] #247 closed, assigned to RaduCStefanescu, overeha

[2020-04-20 17:43] #263 closed, assigned to Dima000

[2020-04-20 17:45] danaandres opened #284 "No 'Edit profile' button on family members profile."
Starting point: https://dev.stamacasa.ro/account/other-members/

Exxpected: On family members profile should exist an 'Edit profile' button.

Actual: 'Edit profile' button does not exist.

![Edit profile button](https://user-images.githubusercontent.com/47795680/79781647-131b7900-833e-11ea-9f9a-38d660918d05.png)

[2020-04-20 17:47] RaduCStefanescu commented on #261
Fixed by #277

[2020-04-20 17:47] #261 closed, assigned to Dima000

[2020-04-20 18:52] teodoradima opened #286 "Navigating via tab key through profile form fields does not work as expected"
**Steps to reproduce:**

GIVEN
- User is logged in
- User is creating or editing their profile

WHEN
- User fills in "phone number" field
AND
- User presses tab key

THEN
- Next focused field is "age"

**Expected behavior:**
- Next focused field should be "county"

[2020-04-20 18:56] teodoradima commented on #281
🙋‍♀️

[2020-04-20 19:04] RaduCStefanescu commented on #281
All yours @teodoradima !

[2020-04-20 19:33] teodoradima commented on #282
Fixed in scope of #281

[2020-04-20 19:34] teodoradima commented on #281
Also fixes #282

[2020-04-20 20:09] teodoradima commented on #276
🙋‍♀️

[2020-04-20 21:17] #242 closed, assigned to teodoradima

[2020-04-20 21:34] #281 closed, assigned to teodoradima

[2020-04-20 23:45] cipick commented on #279
i can take this

[2020-04-21 06:57] irinel-nistor commented on #284
I added it as part of this changes https://github.com/code4romania/stam-acasa/pull/287

[2020-04-21 11:36] mmircea16 commented on #258
If this is ready to be picked up frontend-wise, I can work on it

[2020-04-21 11:38] RaduCStefanescu commented on #246
Closed by #291

[2020-04-21 11:38] #246 closed, assigned to mihaipopescu

[2020-04-21 11:52] RaduCStefanescu commented on #251
We decided internally that the link will be to the gov.ro site, as it is now
Thank you for your help @DragomirStefanaCatalina

[2020-04-21 11:52] #251 closed, assigned to nobody

[2020-04-21 12:15] RaduCStefanescu commented on #258
Yes please, this one is really important. I will give you more details on Slack 👍

[2020-04-21 12:42] RaduCStefanescu commented on #254
This is handled as part of #285

[2020-04-21 12:42] #254 closed, assigned to teodoradima

[2020-04-21 12:43] RaduCStefanescu commented on #282
This is fixed as part of #281

[2020-04-21 12:43] #282 closed, assigned to teodoradima

[2020-04-21 14:27] adrian-pistoleanu commented on #214
Da, certificatul va fi citit de pe disk. Docker e un pic in afara stack-ului meu, noi dăm deploy direct din VS in Azure sau, mai rar, intr-un IIS box local. Oricum, ma uit si la acest aspect.

[2020-04-21 15:04] #258 closed, assigned to mmircea16

[2020-04-21 15:09] #279 closed, assigned to cipick

[2020-04-21 15:13] #257 closed, assigned to ccartas

[2020-04-21 16:06] #250 closed, assigned to ccartas

[2020-04-21 16:22] #270 closed, assigned to mmircea16

[2020-04-21 16:23] danaandres opened #296 "When the user selects 'Nici una de mai sus' on 'Afectiuni agravante' message displayed on his profile should be 'Nu exista'"
Starting point: https://dev.stamacasa.ro/account/me

Expected: When the user selects 'Nici una de mai sus' on 'Afectiuni agravante' message displayed on his profile should be 'Nu exista' or something like this.

Actual: When the user selects 'Nici una de mai sus' on 'Afectiuni agravante' message displayed on his profile is 'Nici una de mai sus'.

![afectiuni agravante](https://user-images.githubus

[2020-04-21 19:12] #260 closed, assigned to irinel-nistor

[2020-04-21 19:23] RaduCStefanescu commented on #284
This one is fixed in #287

[2020-04-21 19:23] #284 closed, assigned to irinel-nistor

[2020-04-21 19:24] RaduCStefanescu commented on #255
Fixed in #287

[2020-04-21 19:24] #255 closed, assigned to nobody

[2020-04-21 20:04] aniri opened #299 "Confusing redirect after adding family member"
Current behaviour:
- go to `https://dev.stamacasa.ro/add-member`
- add new family member details
- save info and get redirected to `https://dev.stamacasa.ro/account/me`

Expected behaviour;
- go to `https://dev.stamacasa.ro/add-member`
- add new family member details
- save info and get redirected to `https://dev.stamacasa.ro/account/other-members/`

[2020-04-21 20:08] aniri opened #300 "Should my user id be visible in the url?"
If I go to `profilul meu` -> `alte persoane` , the url is `https://dev.stamacasa.ro/account/other-members/22` .

Wouldn't simply `https://dev.stamacasa.ro/account/other-members` be better?

[2020-04-21 20:10] aniri opened #301 "Alte persoane în grijă details should only show for account holder"
The `Alte persoane în grijă:` info if now available in the main account holder profile details, but also in the `alte persoane` profile details.

I think it would be best to hide them for `alte persoane`.

[2020-04-21 20:12] teodoradima opened #302 "Misleading loading message for other members profile"
**Steps to reproduce**
GIVEN
- User is logged in and has at least one family member with a profile created

WHEN
- User navigates to "Alte persoane" tab

THEN
- User is presented with the "Nu exista membri" message while the data is loading

**Expected behavior**
- User should be presented with the "Datele se incarca" message while the data is loading

Note: This is impacting users that run the ap

[2020-04-21 20:13] aniri opened #303 "Clicking on a Alte persoane în grijă option does not redirect to selected person details"
Current behaviour:
- add at least two `alte persoane` profiles
- go to my account
- see profile details & `Alte persoane în grijă:`
- click on the second person from the links
- you are redirected to `Alte persoane` / `https://dev.stamacasa.ro/account/other-members`
- the first person from the list is selected in the dropdown and details for that person are shown in profile box

Expected behaviour

[2020-04-21 20:17] teodoradima opened #304 "Useless whitespace on "Profilul meu" page"
**Platform**: Mobile, Safari browser

There's some whitespace breaking the app flow on "Profilul meu" page (self or other member).

![image](https://user-images.githubusercontent.com/9938889/79909494-be532d80-8425-11ea-9f00-f19f9d346bf2.png)

[2020-04-21 20:22] teodoradima opened #305 "Tabs text should be sentence cased"
`Profilul meu` tab text is using "Title Case" instead of "Sentence case"

<img width="783" alt="image" src="https://user-images.githubusercontent.com/9938889/79910162-dbd4c700-8426-11ea-8e6e-12a94b1dcee4.png">

[2020-04-21 20:27] teodoradima opened #306 "Sometimes when user expands hamburger menu and attempts navigation to another tab, both previous and newly selected tabs are highlighted"
**Platform**: Mobile, Safari browser

Sometimes when user expands hamburger menu and attempts navigation to another tab, both previous and newly selected tabs are highlighted. However, new tab content is rendered successfully.

![image](https://user-images.githubusercontent.com/9938889/79910403-51d92e00-8427-11ea-9d80-11e5b6a12666.png)

[2020-04-21 20:34] teodoradima commented on #303
Duplicate of #282 ? Not aware if the fix was deployed on the test env yet. 🤔

[2020-04-22 06:30] RaduCStefanescu commented on #303
The fixes are merged, but we did not make a new deployment.

[2020-04-22 08:12] #276 closed, assigned to teodoradima

[2020-04-22 08:36] RaduCStefanescu opened #307 "Unable to navigate to next tab on first login"
On first login, after a user fills in his profile, there are cases when the navigation to the next tab is not possible, although the user has completed his profile.

[2020-04-22 08:40] RaduCStefanescu opened #308 "Incorrect assessment form is being returned from backend"
The incorrect assessment form is being returned from backend.
When a user completes the assessment for the first time, we need to check if he has any assessment answers saved. If the user has assessment answers saved, we need to send the `formFollowUp.json`, otherwise return the `formNewUser.json`.

[2020-04-22 08:42] idormenco commented on #308
on it

[2020-04-22 08:48] RaduCStefanescu opened #309 "Add user details in Excel file"
We need to add the user details - name, city, county, tel number, comorbities - in the excel file we sent at the end of the day, besides the assessment answers.

[2020-04-22 08:49] DragomirStefanaCatalina opened #310 "Missing daily reminder email for assessment form"
**Expected**:
Daily reminder email for assessment form
![Screenshot 2020-04-22 at 11 42 13](https://user-images.githubusercontent.com/61550276/79961067-da3ee980-848e-11ea-88e1-0680ff930813.png)

**Actual**:
5 days old profile & not even one daily reminder email for assessment form

[2020-04-22 08:52] RaduCStefanescu commented on #310
I will look into the Scheduling service in an hour and I will let you know if this is a bug or a misconfiguration on our side. Nice attention to details! 💯

[2020-04-22 09:07] DragomirStefanaCatalina opened #313 "Missing mandatory field alert message for all open questions"
Starting point: https://dev.stamacasa.ro/evaluation/me

**Expected**:
Mandatory fields to be completed with characters/digits when you answer positive to an open question

**Actual**:
The user can go forward by pressing space in the field to be completed & by clicking on

No mandatory field alert message

![Screenshot 2020-04-22 at 11 36 11](https://user-images.githubusercontent.com/61550276/79962

[2020-04-22 09:16] DragomirStefanaCatalina opened #314 "Missing field to be completed when the user is in a different situation for 2 questions"
Starting point: https://dev.stamacasa.ro/evaluation/me

**Expected**:
Field to be completed when the user is in a different situation than those stated before

For example:
![Screenshot 2020-04-22 at 12 11 50](https://user-images.githubusercontent.com/61550276/79963978-b8476600-8492-11ea-9c71-55fa78d71721.png)

**Actual**:

Missing field to be completed when the user is in a different situation th

[2020-04-22 09:25] DragomirStefanaCatalina opened #315 "Same behaviour for both positive and negative paths"
Starting point: https://dev.stamacasa.ro/evaluation/me

**Expected**:
Different behaviours when the user has been or has been not in direct contact with a diagnosed/confirmed person

**Actual**:

Same behaviour when the user has been or has been not in direct contact with a diagnosed/confirmed person

1. Positive path
![Screenshot 2020-04-22 at 12 10 09](https://user-images.githubusercontent.com/6

[2020-04-22 09:31] idormenco commented on #296
on it

[2020-04-22 09:33] DragomirStefanaCatalina opened #316 "Misleading "Reincepe testul" button's position"
Starting point: https://dev.stamacasa.ro/evaluation/me

**Actual**:
The user may make an unintentional mistake by clicking on

instead of

The

 button's position may be misleading.

![Screenshot 2020-04-22 at 12 26 05](https://user-images.githubusercontent.com/61550276/79965711-09f0f000-8495-11ea-9cb6-9ad9b518c634.png)

![Screenshot 2020-04-22 at 12 26 32](https://user-images.githubusercontent.co

[2020-04-22 09:44] RaduCStefanescu opened #318 "Send excel file with all answers"
Currently, we only send a file per each county, with details of users from that particular county.

We need to have an option where we send all the daily answers of all users, irrespective of the county they live in.

[2020-04-22 09:51] #280 closed, assigned to irinel-nistor

[2020-04-22 09:58] #308 closed, assigned to idormenco

[2020-04-22 11:14] irinel-nistor commented on #262
We use this [input]( https://taskforce-fe-components.now.sh/?path=/docs/input--types). I tried to apply the suggested solution on the component but it didn't work. It probably needs work in the components library, right?

[2020-04-22 11:16] RaduCStefanescu opened #321 "Scheduler does not print in file"
When started in background mode, the scheduler service does not print information to log file. It seems the service does not use Serilog, but Logging extensions.

[2020-04-22 12:10] idormenco commented on #321
on it

[2020-04-22 13:33] irinel-nistor commented on #318
I'd like to work on this one

[2020-04-22 13:34] #321 closed, assigned to nobody

[2020-04-22 13:47] cipick commented on #256
i can take this one

[2020-04-22 14:08] RaduCStefanescu commented on #256
All your @cipick

[2020-04-22 14:09] RaduCStefanescu commented on #127
We decided and moved all the functionality in frontend. Thank you very much for your help @andorremus

[2020-04-22 14:09] #127 closed, assigned to andorremus

[2020-04-22 15:10] #296 closed, assigned to idormenco

[2020-04-22 17:23] aniri opened #326 "Validation error shown twice on create account screen"
The message `Câmpurile de parolă și confirmare parolă nu sunt identice.` is displayed twice on the screen.

Also, only the one below the input field is removed when the validation issue is fixed. The top one remains there even after updating the input field contents.

![Screenshot from 2020-04-22 20-07-11](https://user-images.githubusercontent.com/1358055/80011858-1e54dd00-84d5-11ea-880a-4dce70ea4

[2020-04-22 17:27] aniri opened #327 "Missing lef & right padding for "developed by" header"
Developed by header should have a small padding on mobile devices.

![Screenshot_20200422-202018_Chrome](https://user-images.githubusercontent.com/1358055/80013456-96240700-84d7-11ea-8576-d0b543d2e6b6.jpg)

[2020-04-22 17:34] aniri opened #328 "Add RoHelp and DiasporaHub in sidebar"
check https://cetrebuiesafac.ro/

[2020-04-22 18:27] #305 closed, assigned to aniri

[2020-04-22 18:27] #328 closed, assigned to aniri

[2020-04-22 18:47] #307 closed, assigned to ccartas

[2020-04-22 20:17] RaduCStefanescu opened #334 "Form query parameters"
The form retrieved from backend is not correct. When adding a new family member, we complete the profile and we want to fill in the assessment. The first assessment should be the `formNewUser.json` is not retrieved from the backend.
This is because the frontend will always query the same endpoint `/api/form/version` but not using the user id, so we always get the status of the parent user.
The fro

[2020-04-23 06:26] idormenco commented on #334
on it

[2020-04-23 08:24] #309 closed, assigned to bogdanbujdea

[2020-04-23 09:53] #334 closed, assigned to idormenco

[2020-04-23 09:53] surdu commented on #262
@irinel-nistor Yes. You'll either have to target the input from inside the component or better yet modify the base component so when it is required changes the required validation message.

[2020-04-23 09:55] surdu commented on #327
@aniri Do we want this only on StamAcasa or everywhere else? If everywhere else, we might want to move this on the taskforce components repo

[2020-04-23 10:18] aniri commented on #327
@surdu I think it will be easier to keep the specific styling details in the project repo and not in the components. The component could be used in a different layout in other projects and also the number of logos displayed are different between projects.

They just need a small left/right padding or margin here :smiley:

[2020-04-23 11:39] #310 closed, assigned to RaduCStefanescu

[2020-04-23 11:52] RaduCStefanescu commented on #318
Fixed by #337

[2020-04-23 11:52] #318 closed, assigned to irinel-nistor

[2020-04-23 11:53] RaduCStefanescu commented on #256
Fixed by #338

[2020-04-23 11:53] #256 closed, assigned to cipick

[2020-04-23 11:53] RaduCStefanescu commented on #299
Fixed by #331

[2020-04-23 11:53] #299 closed, assigned to moonflare

[2020-04-23 12:49] RaduCStefanescu opened #339 "Scheduler service fails when sending emails for daily assessments"
The scheduler service in development environment fails when sending the daily assessment emails with the following error:
[code]

[2020-04-23 12:49] idormenco commented on #339
will fix

[2020-04-23 14:05] #339 closed, assigned to idormenco

[2020-04-23 14:52] RaduCStefanescu opened #343 "Send Results scheduled job fails"
The Send Results scheduled job fails with the following error:
[code]

[2020-04-23 17:58] DragomirStefanaCatalina opened #346 "7 daily reminder emails for assessment form in one day"
**Expected**:
1/2 daily reminder email/s for assessment form

**Actual**:
7 daily reminder emails for assessment form in one day
![Screenshot 2020-04-23 at 21 04 21](https://user-images.githubusercontent.com/61550276/80133547-1022c180-85a6-11ea-9d40-623be9515809.png)

[2020-04-23 18:32] RaduCStefanescu commented on #346
Hi @DragomirStefanaCatalina
Yes, I did some testing today, sorry for spamming you with emails.
Will keep this bug open just in case.

[2020-04-23 18:37] RaduCStefanescu opened #347 "DllNotFoundException on dev environment"
Sending assessment results fails on dev environment with the following error:
[code]

[2020-04-23 18:40] idormenco commented on #347
Will fix , tomorrow

[2020-04-23 18:50] RaduCStefanescu commented on #347
The solution is to install this in the Dockerfile for Scheduler:
[code]
More information here: https://github.com/dotnet/dotnet-docker/issues/618

[2020-04-23 20:15] danaandres opened #348 "Future dates can be selected from calendar"
Starting point: https://dev.stamacasa.ro/evaluation/me

Expected: User should not be able to select future dates.

Actual: User is able to select any dates.

![future date](https://user-images.githubusercontent.com/47795680/80145105-f38b8700-85af-11ea-9ad5-1e1a14624f94.png)

[2020-04-23 20:42] danaandres opened #349 "Only dates from current month should be highlighted"
Starting point: https://dev.stamacasa.ro/evaluation/me

Expected: The dates from other months should be greyed.

Actual: The user cannot distinguish the days of the current month.

![wrong display calendar](https://user-images.githubusercontent.com/47795680/80147209-7530e400-85b3-11ea-9bda-487a5f709250.png)

[2020-04-24 05:17] surdu commented on #348
This sounds like we need to use the min/max for the date/detetime inputs. We might want to implement this in the https://github.com/code4romania/taskforce-fe-components repo

[2020-04-24 05:19] surdu commented on #349
Same comment as https://github.com/code4romania/stam-acasa/issues/348#issuecomment-618806683

[2020-04-24 07:24] irinel-nistor commented on #262
I'd like to work on this issue

[2020-04-24 07:31] surdu commented on #262
@irinel-nistor all yours 🚀

[2020-04-24 07:36] idormenco commented on #343
i think this was fixed in this pr #345

[2020-04-24 07:58] RaduCStefanescu commented on #343
I'll try to keep this one open until I can see the Results dispatch fully working.

[2020-04-24 08:22] #347 closed, assigned to idormenco

[2020-04-24 10:25] RaduCStefanescu opened #351 "Missing parameter when sending Results email"
When receiving the assessment results email, it is missing a paramter:
`Atașat găsiți rezultatele monitorizării persoanelor din judetul Brasov care utilizează aplicația StămAcasa pentru data de %%date%%. `
Please add the `date` parameter and merge with the email template.

[2020-04-24 10:30] idormenco commented on #351
will do

[2020-04-24 10:39] RaduCStefanescu opened #353 "No Excel file attached when sending Results assessment email"
When receiving the Assessment results email, no excel file is attached to the email. There are emails generated for counties where test data has been inserted, but no file is attached.

[2020-04-24 10:53] idormenco commented on #353
on it

[2020-04-24 10:54] mmircea16 commented on #313
I think this fixed in the latest version by the use of a datepicker library. Looking at: https://taskforce-fe-components.now.sh/?path=/story/form--with-date-pickers , I can't reproduce it.

[2020-04-24 11:23] #351 closed, assigned to idormenco

[2020-04-24 11:32] #353 closed, assigned to idormenco

[2020-04-24 12:20] mihainsto commented on #304
I can take this.

[2020-04-24 12:56] RaduCStefanescu opened #357 "Position of columns in Excel file containing results"
There are mismatches between the position of questions in the Excel file we send to authorities. The new user form and the follow up form contain a different number of questions, but they overlap on some ids. To make this work, we will need to maintain the same column in the excel file for questions with the same id: i.e. questionId = 3 on the same column

[20200424.xlsx](https://github.com/code4r

[2020-04-24 12:57] RaduCStefanescu opened #358 "Missing Surname in Excel file sent to authorities"
The Excel file we are sending to authorities is missing the user Surname.
[20200424.xlsx](https://github.com/code4romania/stam-acasa/files/4528959/20200424.xlsx)

[2020-04-24 13:19] idormenco commented on #358
will do

[2020-04-24 13:20] idormenco commented on #357
will do

[2020-04-24 14:14] RaduCStefanescu commented on #343
This issue was a combinaton of misconfiguration and bad error management, which was fixed in #345
I am going to close it - thank you @idormenco and @thewindev

[2020-04-24 14:14] #343 closed, assigned to bogdanbujdea

[2020-04-25 06:20] andorremus commented on #326
I'll take this

[2020-04-25 06:22] RaduCStefanescu commented on #326
All yours @andorremus

[2020-04-25 06:35] andorremus commented on #273
Should it have a bespoke validation message or just the usual html field validation will do?
E.g number should be larger than x! / the main account holder should be at least 18 years old

[2020-04-25 06:54] RaduCStefanescu commented on #273
We should have the message in Romanian - Trebuie sa ai minim 18 ani împliniți pentru a-ți crea cont in platformă!

[2020-04-25 06:55] andorremus commented on #273
Ok, and only when filling the form for him/herself, the main account holder.

[2020-04-25 06:57] andorremus commented on #326
RIght, the errors here are shown at the top and under each individual field, if we remove the ones at the top we get 99% of what we want, the only issue is that the password gets validated if it's not got a special character in as well, but that validation message is not shown which essentially means that you click on Creeaza Cont and it takes you back to the same page without any messages. Any th

[2020-04-25 06:57] RaduCStefanescu commented on #273
Yup - dependents can be underaged, that's the whole point actually 😃

[2020-04-25 07:00] RaduCStefanescu commented on #326
We should show the validation message if the user does not input special characters in the password, so it's a no go from me if we just return to the previous page.

[2020-04-25 07:02] andorremus commented on #326
<img width="394" alt="image" src="https://user-images.githubusercontent.com/9131872/80273551-bd4b2600-86db-11ea-8eb8-530148d74afd.png">

And lose the validation messages at the top? So we essentially have the validation messages underneath each respective field

PS Just noticed the email address validation message, should change that as well

[2020-04-25 07:04] RaduCStefanescu commented on #326
Please, let's keep the messages in Romanian
You are sure you have the latest changes? I remember changing those some time ago.

[2020-04-25 07:05] andorremus commented on #326
<img width="936" alt="image" src="https://user-images.githubusercontent.com/9131872/80273601-4c583e00-86dc-11ea-8bbd-093a9841a6b3.png">

Yep, pulled the latest develop before starting to work

[2020-04-25 07:06] #358 closed, assigned to idormenco

[2020-04-25 07:08] andorremus commented on #326
Can you please provide me with the text the email validation should display?

[2020-04-25 07:11] #210 closed, assigned to Puiu

[2020-04-25 07:14] andorremus commented on #273
Assign this to me please

[2020-04-25 07:31] RaduCStefanescu commented on #326
You sure?  This is what I have in develop:
<img width="1026" alt="Screenshot 2020-04-25 at 10 29 09" src="https://user-images.githubusercontent.com/15039873/80273968-a9a1be80-86df-11ea-8aea-8b123564e472.png">

[2020-04-25 07:34] andorremus commented on #326
You're right, I took it from the repo on github, my local looks the same as yours.

<img width="1169" alt="image" src="https://user-images.githubusercontent.com/9131872/80274067-70b61980-86e0-11ea-9d81-fcbbf2458f19.png">

It's just got the stuff I'm working on as well (email validation message and password validation message)

[2020-04-25 07:45] RaduCStefanescu commented on #273
All yours @andorremus

[2020-04-25 07:50] bvizureanu commented on #326
Hello,

This is caused by the presence of a summary of errors in the aspnet razor views

So basically there is a sum of all the validation errors put o top of the form here: https://github.com/code4romania/stam-acasa/blob/6cb85b619b8de7bb17d6d3dab90019989501fb62/backend/src/StamAcasa.IdentityServer/Areas/Identity/Pages/Account/ResetPassword.cshtml#L12

Each of the field also supports pointing out

[2020-04-25 07:53] andorremus commented on #326
I agree, the issue that I need to solve after I've removed the summary is to make sure that the password validation message gets shown on the field as well, as currently it's not shown. The message I'm referring to is the one that validates the existence of a special character in the password, which is not shown on the field but is shown on the summary.

If we don't show it, we're going to end up

[2020-04-25 07:56] andorremus commented on #326
<img width="392" alt="image" src="https://user-images.githubusercontent.com/9131872/80274485-62b5c800-86e3-11ea-9519-dc320b84560c.png">

This is the one I'm referring to from the summary

[2020-04-25 07:56] bvizureanu commented on #357
How can someone test this?

[2020-04-25 08:12] teodoradima commented on #300
🙋‍♀️

[2020-04-25 08:14] bvizureanu opened #360 "Reversed placeholders/metadata on name and surname"
`name` and `surname` metadata on fields are reversed. Or the placeholders are;

*Surname* is defined as the family or last name.

![image](https://user-images.githubusercontent.com/3786565/80274797-a3164580-86e5-11ea-8ea4-a077829c553c.png)

[2020-04-25 08:17] bvizureanu commented on #360
@RaduCStefanescu, @DragomirStefanaCatalina, can you please review this issue? is this valid?

[2020-04-25 08:18] RaduCStefanescu commented on #357
On a local docker environment maybe?
I'll give it a try in an hour or so.

[2020-04-25 08:29] bvizureanu commented on #326
it makes sense but it looks like a different issue than the one in the initial description

[2020-04-25 08:47] DragomirStefanaCatalina commented on #360
Placeholder reversal @bvizureanu

name="nume" placeholder="Nume"
name="surname" placeholder="Prenume"

![Screenshot 2020-04-25 at 11 42 01](https://user-images.githubusercontent.com/61550276/80275444-eb376700-86e9-11ea-9bb9-95142bf10448.png)

[2020-04-25 08:49] andorremus commented on #326
Ok, I’ll stick to this and someone can create another one for this password message not showing

[2020-04-25 08:50] RaduCStefanescu commented on #300
All yours @teodoradima

[2020-04-25 09:09] bvizureanu commented on #360
so it should be the other way around, right? maybe some consistency in language use?
(`name` vs `nume`)

is it ok that the expected end state should be:

name=`name` placeholder=`Prenume`
name=`surname` placeholder=`Nume` | `Nume de familie`
?

[2020-04-25 09:13] DragomirStefanaCatalina commented on #360
@RaduCStefanescu your decision

[2020-04-25 09:19] adascaliteiradu commented on #326
The message: 'Password must have at least one non alphanumeric character' is a model validation error. There are also other model validation errors that may be displayed in the validation summary (e.g. "The username is already taken"). To solve this issue I think it is enough to change the `asp-validation-summary` from `All` to `ModelOnly`. We must create another issue for backend to translate val

[2020-04-25 09:20] RaduCStefanescu commented on #360
Yes, let's go with this one.

[2020-04-25 09:24] aniri commented on #326
This makes sense. I guess it would be ok to show the frontend validations only under the fields and the validations that come from backend as a summary at the top of the form. @bvizureanu @andorremus what do you think?

[2020-04-25 09:33] adascaliteiradu opened #362 "Add member form tab index"
Environment: https://dev.stamacasa.ro/add-member
## Problem
While navigating using `tab` in the add member form, the `Judet` and `Localitate` fields are not selected in the natural order. This might be an accessibility issue.

## How to test
Go to the `add-member` form. Select the `Nume` field and start navigating the form using tabs. When you reach the `Tip relatie` field and press tab once again

[2020-04-25 09:35] idormenco commented on #362
@adascaliteiradu isn't this same as  #286 ?

[2020-04-25 09:42] #362 closed, assigned to nobody

[2020-04-25 10:02] bvizureanu commented on #316
@overeha @andrabrinzaniuc @stefin your input would be of many helpz :D

[2020-04-25 10:02] bvizureanu commented on #316
This might be transfered to the frontend components repo

[2020-04-25 10:07] DragomirStefanaCatalina opened #363 "Failed to open page for "Înregistrare""
Starting point: http://localhost:5001/identity/account/register?returnUrl=https://stam-acasa.now.sh/register-complete

**Actual**:
Failed to open page for

![Screenshot 2020-04-25 at 13 04 12](https://user-images.githubusercontent.com/61550276/80277099-6ce0c200-86f5-11ea-95ed-f7be964d3aa4.png)

[2020-04-25 10:13] RaduCStefanescu commented on #363
I think you are running this on https://stam-acasa.now.sh
Can you try the same operation on https://dev.stamacasa.ro ?

[2020-04-25 10:13] DragomirStefanaCatalina opened #364 "Login button doesn't respond"
Starting point: https://stam-acasa.now.sh

**Actual**:
Login button doesn't respond

![Screenshot 2020-04-25 at 13 09 46](https://user-images.githubusercontent.com/61550276/80277271-846c7a80-86f6-11ea-8410-1c219006a251.png)

[2020-04-25 10:14] bvizureanu commented on #364
that environment is not supposed to work. please only test on dev.stamacasa.ro

[2020-04-25 10:19] DragomirStefanaCatalina commented on #364
sorry, my fault @bvizureanu

[2020-04-25 10:19] DragomirStefanaCatalina commented on #363
sorry, my fault @RaduCStefanescu

[2020-04-25 10:24] DragomirStefanaCatalina opened #365 "The user is allowed to pick future dates"
Starting point: https://dev.stamacasa.ro/evaluation/me

**Expected**:
The user is allowed to pick only past dates or the current date

**Actual**:
The user is allowed to pick future dates

![Screenshot 2020-04-25 at 13 16 15](https://user-images.githubusercontent.com/61550276/80277489-f4c7cb80-86f7-11ea-8452-893de16f9c0c.png)

![Screenshot 2020-04-25 at 13 16 31](https://user-images.githubusercont

[2020-04-25 11:11] bvizureanu commented on #363
shall we close?

[2020-04-25 11:12] bvizureanu commented on #365
similar or duplicate with #348

[2020-04-25 11:24] bvizureanu opened #367 "Redundant browser extension install sidebar component"
Decide based on the browser I am using which "store" I should be redirected to.

Don't keep two extremely similar functionalities on the top of the COVID-19 related links
- a subtle hint can be added to have it clear that the extension is `chromium` based + `firefox` (some subtle minimalist icons maybe..)

This takes up a lot of space and I'd rather be seeing something more useful (especially if I

[2020-04-25 11:28] surdu commented on #348
@RaduCStefanescu Does it makes sense that the default to be NOT to be able to select dates in the future for all date fields, and have to specify explicitly in the question JSON when future dates are allowed?

I'm fixing this in the shared components, so the scope of this question would be across all project.

[2020-04-25 11:37] #363 closed, assigned to nobody

[2020-04-25 11:38] #364 closed, assigned to nobody

[2020-04-25 11:41] RaduCStefanescu commented on #348
Yes, default should be just today and past, but also we need an option to be able to say, choose dates in the future.

[2020-04-25 11:41] surdu commented on #304
Fixed in #356

[2020-04-25 11:41] #304 closed, assigned to nobody

[2020-04-25 12:57] aniri commented on #327
closing this as it was fixed in #366

[2020-04-25 12:57] #327 closed, assigned to nobody

[2020-04-25 13:11] adrian-pistoleanu commented on #214
Folosesc un certificat incarcat de pe disk si totul functioneaza cum trb cu acest certificat. Chestia e ca il preiau folosind o parola(adica tot nu e suficient de sigur). In Windows de obicei pt asta se foloseste Certificate Store(si astfel scapi de parola certificatului in aplicatie).  O sa vad cum pot incarca certificatul in Docker.

Un alt aspect(posibil issue) pe care l-am descoperit este ca c

[2020-04-25 13:14] andorremus commented on #326
We could do that, but what we could also do in order to enhance usability is to add a regex to the password field in order to show the validation on the front end first, otherwise users could be annoyed by the fact that they only get the alphanumerical message after they submit the form.

What do you think? @aniri

[2020-04-25 13:28] adrian-pistoleanu commented on #214
Scenariul la care ma gandesc eu(cred improbabil), cine are acces pe server(unde sa zicem ca sunt gazduite ambele API si IdentityServer) poate sniffui tokenele/mesajele care se transmit prin http://localhost:5001 si poate impersona userul(asta cu tot cu certificat SSL). Nu sunt expert pe retelistica si securitate pe porturi si ip-uri dar cred ca se pot intercepta lejer mesajele transmise pe http.

[2020-04-25 13:47] aniri commented on #326
But this will mean that we are duplicating the check and the validation messages both in frontend and backend :(

[2020-04-25 13:53] andorremus commented on #326
Well the back-end validation would become redundant as it would never be shown because we've validated for it already. I think it's more acceptable to do that than to only tell the user they've not added a special character in the password after they've thought about a proper password for a while (presumably).

[2020-04-25 15:04] RaduCStefanescu opened #370 "Remove testing accounts for production"
On production environment, from https://prod.stamacasa.ro we still see the development testing accounts displayed - these need to be removed:
<img width="485" alt="Screenshot 2020-04-25 at 18 03 26" src="https://user-images.githubusercontent.com/15039873/80283283-16887900-871f-11ea-8c07-02661c38453d.png">

[2020-04-25 15:15] irinel-nistor commented on #249
This question appears to have been removed from the new user or follow up forms. In this case, is this still an issue @RaduCStefanescu ?
![image](https://user-images.githubusercontent.com/8067395/80283502-b0045a80-8720-11ea-8995-cd76ee573b08.png)

[2020-04-25 15:31] surdu commented on #306
Couldn't reproduce on web and android 😞

[2020-04-25 16:00] #262 closed, assigned to irinel-nistor

[2020-04-25 16:01] aniri commented on #302
I can't seem to reproduce this in https://dev.stamacasa.ro/

[2020-04-25 16:04] #301 closed, assigned to surdu

[2020-04-25 16:09] RaduCStefanescu commented on #249
No, we can close this one.
Thank you @gepaltineanu and @irinel-nistor

[2020-04-25 16:09] #249 closed, assigned to nobody

[2020-04-25 16:15] RaduCStefanescu opened #373 "Email sent from SMTP POSTFIX implementation does not contain a From field"
The emails sent from the production environment are missing the From directive and are rejected.
The SMTP server in production is a POSTFIX implmentation.

[2020-04-25 16:25] mmircea16 commented on #302
I managed to reproduce it by tweaking the network speed in the developer tools to "Slow 3G". I have a fix for it - I will create a PR for it

[2020-04-25 16:28] teodoradima commented on #306
I can't reproduce it anymore on iOS as well. I guess we can close it?

[2020-04-25 16:33] aniri commented on #306
closing this for now as it can't be reproduced. maybe it was fixed indirectly :/

[2020-04-25 16:33] #306 closed, assigned to nobody

[2020-04-25 16:35] #348 closed, assigned to surdu

[2020-04-25 16:35] #365 closed, assigned to surdu

[2020-04-25 16:37] #316 closed, assigned to nobody

[2020-04-25 16:37] mmircea16 commented on #314
For this one we can do one of 2 options:

- have another optional question immediately after
- use `type: "OTHER"` on the "Alta situatie" option - this will add an inline text input in the question

For either choice the change is only in the json of the form - no js code needed.

[2020-04-25 16:40] mmircea16 commented on #315
What would be the text for when the person choses that they have been in contact with a positive person?

The change implies a small js change and one in the json description of the form

[2020-04-25 16:43] adascaliteiradu opened #375 "Evaluation tabs scroll"
Environment: [https://dev.stamacasa.ro/evaluation/me](https://dev.stamacasa.ro/evaluation/me)
![image](https://user-images.githubusercontent.com/17283534/80285317-a254d200-872c-11ea-84ed-7d126586be91.png)

This UX problem happens at resolutions with a width between 1024px and 1215px

[2020-04-25 16:47] aniri commented on #370
@RaduCStefanescu I think the test account should also be removed from the seed data, right? For the production env.

[2020-04-25 17:01] andorremus commented on #326
A slightly off-topic question, if I see another issue (in my case some text that's not translated) do I have to leave or can I fix it as well?

An example is the fact that the email validation has only default error message ( Adresa de email is not provided) or similar

@RaduCStefanescu @aniri

[2020-04-25 17:15] andorremus commented on #273
I tried to look in the repo for ways to handle input validation errors and the only other way is the html5 validation which doesn't work with safari, can you guide me towards an example ?

[2020-04-25 18:06] aniri commented on #326
@andorremus hey, if it's not covered by some other issue, you can of course fix the translation too! thank you!

[2020-04-25 18:07] aniri commented on #326
@bvizureanu @RaduCStefanescu should we move the check for password special characters to the frontend validation?

[2020-04-25 18:12] aniri commented on #303
closing this then :)

[2020-04-25 18:12] #303 closed, assigned to nobody

[2020-04-25 18:34] surdu commented on #349
Fixed in https://github.com/code4romania/taskforce-fe-components/pull/167

[2020-04-25 18:34] #349 closed, assigned to nobody

[2020-04-25 18:56] surdu commented on #273
@andorremus [This recent PR](https://github.com/code4romania/taskforce-fe-components/pull/166) for our shared components might be of help to you. Especially, the [examples in the storybook](https://github.com/code4romania/taskforce-fe-components/pull/166/files#diff-c3fc3ab0b3c203909997af814385a04b).

[2020-04-25 19:02] surdu commented on #370
@RaduCStefanescu Unless I'm missing something, the registration process doesn't seem to work completely on develop (the email confirmation is not sent). How will devs create a test account ?

[2020-04-26 05:00] andorremus commented on #273
It does indeed, thank you very much. @surdu

[2020-04-26 10:40] #273 closed, assigned to andorremus

[2020-04-26 11:16] #360 closed, assigned to surdu

[2020-04-26 11:40] idormenco commented on #370
in progress

[2020-04-26 11:56] idormenco commented on #373
in progress

[2020-04-26 12:26] #302 closed, assigned to mmircea16

[2020-04-26 15:31] #373 closed, assigned to idormenco

[2020-04-26 15:34] #370 closed, assigned to idormenco

[2020-04-27 18:36] #326 closed, assigned to andorremus

[2020-04-28 14:34] catileptic commented on #214
@adrian-pistoleanu - can you please submit a Pull Request with your implementation? We'd like to ship the MVP of this app. :)

[2020-04-28 17:12] aniri opened #383 "Error messages from register/login form should be in Romanian"
![Screenshot from 2020-04-28 20-10-11](https://user-images.githubusercontent.com/1358055/80516569-556f3680-898c-11ea-9367-1ca8e0603413.png)

![Screenshot from 2020-04-28 20-11-33](https://user-images.githubusercontent.com/1358055/80516700-82bbe480-898c-11ea-87e8-cb576cceb86c.png)

[2020-04-28 17:26] catileptic opened #384 "Add info to "Cum îmi creez un cont""
1. Edit text to say:

2. Add a link to the word "aici" that links to the registration URL.

[2020-04-28 17:28] catileptic opened #385 "Fix e-mail address confirmation flow"
After the user clicks the link in their e-mail which confirms their e-mail account, they should be redirected to the `/account` URL.

[2020-04-28 18:13] aniri opened #387 "Improve tabs layout on mobile"
Improve layout of `profilul meu` and `alte persoane` on mobile screens.

Suggestion:
![Google Pixel 2 - 1](https://user-images.githubusercontent.com/1358055/80522287-feba2a80-8994-11ea-8867-381a1ecd99aa.png)

[2020-04-28 18:20] aniri opened #388 "Improve add new member flow"
Improve the current behaviour to:
- go to `https://dev.stamacasa.ro/account/me`
- go to `https://dev.stamacasa.ro/account/other-members` and the message `Nu există alți membri` shows up
- add a link to `https://dev.stamacasa.ro/add-member` so users can navigate easily through the site and add new members

[2020-04-28 18:26] aniri opened #390 "My profile details should not be displayed in Completează formularul de evaluare section"
The `https://dev.stamacasa.ro/evaluation/me` page should only have the form button and not the profile details.

Nice-to-have: show the form directly and not the yellow button `Completeaza formularul`

[2020-04-28 18:34] catileptic commented on #315
[code]

[2020-04-28 18:59] aniri opened #391 "Update footer and header links"
There should be the same links in header (+ register & login) & footer as in https://diasporahub.ro/

[2020-04-28 19:03] aniri opened #392 "Always show alte simptome subtitle in history even if there are no data"
In `Istoric Simptome` show the `alte simptome` subtitle even if there are no data.

![Screenshot from 2020-04-28 22-00-45](https://user-images.githubusercontent.com/1358055/80526667-c407c080-899b-11ea-9a28-d8bdda0405e4.png)

The correct behavious would be to sheow the `Alte simptome` subtitle with the `Nu exista date` content.

[2020-04-28 19:05] aniri opened #393 "Add more padding in my profile layout"
In `https://dev.stamacasa.ro/account/me`

Add padding between:
- paragraph text `.....Poți completa formularul aici.` and title `Istoric Simptome`
- `Istoric Simptome` data and footer

[2020-04-28 19:13] aniri opened #394 "Improve Monitorizare temperatura graph layout on mobile"
Problem: Not all graph labels (dates) are displayed fully on mobile.

![Screenshot from 2020-04-28 22-35-12](https://user-images.githubusercontent.com/1358055/80529767-9f621780-89a0-11ea-85e1-61e57447aa08.png)

Suggestions (please choose the most appropriate one or suggest another fix):
- show only the date (without time)
- add pagination and only show 5 temperature data bars
- revert chart and sh

[2020-04-28 19:14] aniri opened #395 "Monitorizare temperatura values are reversed"
Please show the oldest dates in the left.

[2020-04-28 19:17] aniri opened #396 "Weird dropdown label display on Safari"
Tip relatie and Genul drowdown labels are shown in the left and not centered on Safari.

<img width="599" alt="Screenshot 2020-04-28 at 21 52 32" src="https://user-images.githubusercontent.com/1358055/80527891-c408c000-899d-11ea-9ce2-b010cc748d10.png">

[2020-04-28 19:26] #315 closed, assigned to nobody

[2020-04-28 21:12] aniri commented on #314
@mmircea16 I think we can use the same option as for the `Alte simptome:` question to be consistent :smile:

[2020-04-28 21:17] #286 closed, assigned to moonflare

[2020-04-29 06:54] irinel-nistor commented on #383
I'd like to work on this one

[2020-04-29 08:19] aniri commented on #313
I confirm, this seems fixed in the latest version on https://dev.stamacasa.ro/ :smile:

Closing the issue :)

[2020-04-29 08:19] #313 closed, assigned to nobody

[2020-04-29 08:21] aniri commented on #375
@moonflare is this one also fixed by your latest bug smash? :smiley:

[2020-04-29 08:23] moonflare commented on #375
@aniri Possibly, but I haven't checked it specifically. Will assign it to me and check/fix it later tonight.

[2020-04-29 08:25] aniri commented on #275
I think this is also fixed, same as https://github.com/code4romania/stam-acasa/issues/313

[2020-04-29 10:06] #384 closed, assigned to aniri

[2020-04-29 10:43] catileptic commented on #346
This is no longer reproducing. Closing this.

[2020-04-29 10:43] #346 closed, assigned to nobody

[2020-04-29 12:02] #275 closed, assigned to moonflare

[2020-04-29 16:12] moonflare commented on #375
Fixed in #399

[2020-04-29 17:12] catileptic commented on #314
We decided this is no longer an Issue since the current stay-at-home situation will soon come to an end.

[2020-04-29 17:12] #314 closed, assigned to mmircea16

[2020-04-29 18:00] #383 closed, assigned to irinel-nistor

[2020-04-29 18:12] #388 closed, assigned to mmircea16

[2020-04-30 08:31] #387 closed, assigned to moonflare

[2020-04-30 08:31] #391 closed, assigned to moonflare

[2020-04-30 08:31] #392 closed, assigned to moonflare

[2020-04-30 08:31] #393 closed, assigned to moonflare

[2020-04-30 08:31] #390 closed, assigned to moonflare

[2020-04-30 08:38] irinel-nistor commented on #385
I would like to work on this one, if it is available

[2020-04-30 11:50] surdu commented on #385
@irinel-nistor All yours! 🚀

[2020-04-30 12:03] idormenco commented on #357
@RaduCStefanescu @bvizureanu @catileptic i think this should be closed

[2020-04-30 12:45] aniri commented on #375
closing this as it was also fixed in #399

[2020-04-30 12:45] #375 closed, assigned to moonflare

[2020-05-02 13:53] adrian-pistoleanu commented on #214
Vad ca exista deja un update cu o implementare asemanatoare. Se poate inchide.

[2020-05-02 23:41] surdu opened #408 "Security issue with form API"
The following URL is not checked for permission and can leak personal information to whoever access it: https://dev-api.stamacasa.ro/api/form?id=4

The id is not checked for access permissions and I can view personal information of any user.

[2020-05-03 07:02] irinel-nistor commented on #408
I would like to work on this one

[2020-05-03 13:33] surdu commented on #408
@irinel-nistor All yours! 🚀

[2020-05-03 17:00] #214 closed, assigned to adrian-pistoleanu

[2020-05-03 17:01] #300 closed, assigned to teodoradima

[2020-05-03 17:03] #357 closed, assigned to idormenco

[2020-05-03 19:12] #385 closed, assigned to irinel-nistor

[2020-05-04 09:41] RaduCStefanescu opened #410 "Empty Excel file for all recipients"
Even if there are no new filled in assessment forms, the Excel file for all recepients is still sent. This causes empty files to be sent via email.

[2020-05-04 11:24] irinel-nistor commented on #410
I'd like to work on this one.

[2020-05-04 11:30] RaduCStefanescu commented on #410
All yours @irinel-nistor

[2020-05-04 13:59] RaduCStefanescu opened #411 "Scheduler fails in production"
Scheduler fails in production after a few hours with the following error:

[code]

[2020-05-04 14:11] idormenco commented on #411
i will take this

[2020-05-06 09:25] #410 closed, assigned to irinel-nistor

[2020-05-06 09:43] #408 closed, assigned to irinel-nistor

[2020-05-08 07:15] #411 closed, assigned to idormenco

[2020-05-08 07:16] aniri commented on #395
this was fixed in #415

[2020-05-08 07:16] #395 closed, assigned to moonflare

[2020-05-08 07:16] aniri commented on #394
this was fixed in #415

[2020-05-08 07:16] #394 closed, assigned to moonflare

[2020-05-12 12:15] RaduCStefanescu opened #416 "Duplicate results sent to backend"
If a user fills in the form and at the last question hits the `Inapoi` button, and then `Inainte`, the form is sent twice.

[2020-05-12 12:19] RaduCStefanescu opened #417 "Add password rules in register screen"
When a user creates his account, we give no information about what the password should contain (alpha numeric, special characters). We need to have a description of this on the registration page.

[2020-05-12 13:08] RaduCStefanescu opened #418 "Delete account feature"
As an user of the platform I want to be able to delete my account. When a user deletes an account, all the data associated with that account will be deleted as well.

[2020-05-12 13:17] RaduCStefanescu opened #419 "Delete account view"
A user should be able to delete his/hers account. A view needs to be developed, from the user account, where the user can confirm the account deletion. Upon deletion, all the data the user has filled in will be removed.

[2020-05-13 07:03] irinel-nistor commented on #416
I'd like to work on this one

[2020-05-13 07:34] irinel-nistor commented on #418
I'd like to work on this one

[2020-05-13 07:58] surdu commented on #418
@irinel-nistor 🚀

[2020-05-13 09:04] irinel-nistor commented on #418
I have some questions:
1. should there be an endpoint in the api that removes the forms, family members and self?
1.2. should the identity server page connect to the user db and delete all data (forms, family members and self)
2. should there be a page in identity server that would remove the user from the Identity server database?
3. should the page from the frontend application call both actions

[2020-05-21 17:24] surdu opened #420 "Don't push to Docker Hub on PR"
We should not push an image to Docker Hub [in the GitHub actions](https://github.com/code4romania/stam-acasa/blob/develop/.github/workflows/dockerimage.frontend.yml#L8-L13) when a PR is created, only when a merge is made to develop or master.

[2020-05-22 15:32] RaduCStefanescu opened #421 "Sanitize objects before DeserliazeObjects"
Potential Remote Code Execution (RCE) using DeserializeObject function on arbitrary user provided data in `backend/src/StamAcasa.Api/Controllers/FormController.cs`

[2020-05-22 15:35] RaduCStefanescu opened #422 "Fix data access in API"
Data leakage due to Insecure Direct Object Reference (IDOR) Vulnerability.

The application authorization functionality does not prevent one user from gaining access to another user's data or record by modifying (or by direct access of) the key value identifying the data. An attacker can retrieve or modify any submitted data by any other user of the application.

A. https://prod-api.stamacasa.ro/a

[2020-05-22 15:37] RaduCStefanescu opened #423 "Inform user on account modification"
User is not informed by email upon the medical modifications made on his/her profile

When changes upon the medical profile of the user are performed, no notification regarding these changes is sent on the user email for awareness. This can be a security risk in cases when malicious actors are able to take over victims’ accounts and alter medical information without user consent .

[2020-05-22 15:41] RaduCStefanescu opened #424 "Implement change password feature"
Missing change password feature within the application.

An attacker that obtains access to a compromised user account can perform malicious actions upon victims accounts when the application does not offer a feature of changing the password when needed.

[2020-05-22 15:42] RaduCStefanescu opened #425 "Implement change email feature"
An attacker that obtains access to a compromised user account can both prevent and further maintain access to the victim user's account when the application does not offer the possibility to change the initial e-mail address.

[2020-05-22 15:43] RaduCStefanescu opened #426 "Email bombing"
This vulnerability consists of sending numerous duplicate mails to the same email address with the goal of overflowing the mailbox and overwhelming the mail server hosting the address, making it into some form of denial of service attack.

https://prod-is.stamacasa.ro//identity/account/forgotPassword

Adding a timeout with the length of a few minutes after every request sending an email. Moreover,

[2020-05-22 15:45] RaduCStefanescu opened #427 "Information disclosure in env-config file"
When viewing the source page of https://prod.stamacasa.ro/env-config.js , an user is able to access the env-config.js of the application which may expose sensitive information about the build environment

[2020-05-22 15:46] RaduCStefanescu opened #428 "http-proxy vulnerability"
Versions of http-proxy prior to 1.18.1 are vulnerable to Denial of Service. An HTTP request with a long body triggers an ERR_HTTP_HEADERS_SENT unhandled exception that crashes the proxy server. This is only possible when the proxy server sets headers in the proxy request using the proxyReq.setHeader function.

For a proxy server running on http://localhost:3000, the following curl request triggers

[2020-05-22 15:47] RaduCStefanescu opened #429 "Update yargs-parser version"
Affected versions of yargs-parser are vulnerable to prototype pollution. Arguments are not properly sanitized, allowing an attacker to modify the prototype of Object, causing the addition or modification of an existing property that will exist on all objects.

Parsing the argument --foo.__proto__.bar baz' adds a bar property with value baz to all objects. This is only exploitable if attackers have

[2020-05-22 15:52] RaduCStefanescu opened #430 "User profiles and family members detach"
The application family members functionality does not prevent one user from adding another existing user to his family members by modifying the user id to the victim’s. Thus, an attacker is able to ‘detach‘ the victim’s details from his account.

https://prod-api.stamacasa.ro/api/profile/family/<id>

[2020-05-22 15:55] RaduCStefanescu opened #431 "Implement server side validation"
When the server relies on protection mechanisms placed on the client side, an attacker can modify the client-side behavior to bypass the protection mechanisms resulting in potentially unexpected interactions between the client and server. The consequences will vary, depending on what the mechanisms are trying to protect.

A. https://prod-api.stamacasa.ro/api/profile/family
B. https://prod-api.stam

[2020-05-22 15:57] RaduCStefanescu opened #432 "Sending daily emails to users can be stopped"
By using the https://prod-api.stamacasa.ro/api/profile/family/<id> IDOR an attacker is able to stop all users from receiving daily emails, as they are only sent to users without the ParentId set.

`backend/src/StamAcasa.Common/Notifications/AssessmentNotificationsDispatch.cs`

[2020-05-22 15:59] RaduCStefanescu opened #433 "Email phishing through html injection in Name"
By using the IDOR, an attacker can change the information of any user, more importantly the name parameter, to contain a malicious HTML payload. Thus, as there are daily emails sent containing the user name, allow the attack to launch phishing attacks against all users registered.

`backend/src/StamAcasa.EmailService/EmailBuilder`

Properly sanitize input to not contain html code.

[2020-05-23 06:46] RaduCStefanescu opened #434 "SSL cookie without secure flag set"
If the secure flag is set on a cookie, then browsers will not submit the cookie in any requests that use an unencrypted HTTP connection, thereby preventing the cookie from being trivially intercepted by an attacker monitoring network traffic. If the secure flag is not set, then the cookie will be transmitted in clear-text if the user visits any HTTP URLs within the cookie's scope. An attacker may

[2020-05-23 15:56] idormenco commented on #429
this might take a while https://github.com/facebook/create-react-app/issues/8529

[2020-05-23 16:08] idormenco commented on #428
in progress

[2020-05-23 21:18] cipick commented on #417
✋

[2020-05-23 21:19] surdu commented on #417
@cipick 👈

[2020-05-24 07:34] idormenco commented on #422
i will fix this

[2020-05-25 10:25] RaduCStefanescu opened #436 "Open Redirect Vulnerability"
Open redirection vulnerabilities arise when an application incorporates user-controllable data into the target of a redirection in an unsafe way. An attacker can construct a URL within the application that causes a redirection to an arbitrary external domain. This behavior can be leveraged to facilitate phishing attacks against users of the application. The ability to use an authentic application

[2020-05-25 10:27] RaduCStefanescu opened #437 "User can change password with the same password"
In case of a breached user account due to a password leakage, a user can change his own password with the same password further perpetuating malicious access. Note that in case of a breach, If a user is strictly prompted to change his own password by the application administration, he can by design use the same password, therefore, blocking the action effectiveness.

Do not allow a user to change

[2020-05-25 10:29] RaduCStefanescu opened #438 "Credentials are stored on GIT repository"
An attacker or a malicious administrative user with access to the GIT platform or the GIT repository can obtain or create a public leak of a wide range of credentials and other API keys in order to create disturbances, escalate privileges or use the obtained information in other attacks.

Do not store credentials, API keys or configuration files in GIT. The most you can do is place a dummy configu

[2020-05-25 10:32] RaduCStefanescu opened #439 "Strict transport security not enforced"
The application fails to prevent users from connecting to it over unencrypted connections. An attacker able to modify a legitimate user's network traffic could bypass the application's use of SSL/TLS encryption, and use the application as a platform for attacks against its users. This attack is performed by rewriting HTTPS links as HTTP, so that if a targeted user follows a link to the site from a

[2020-05-25 10:41] RaduCStefanescu opened #440 "User enumeration using email brute force"
Username enumeration is the process of developing a list of all valid usernames on a server or web application. It becomes possible if the server or application provides a clue as to whether or not the username exists.

Affected URL: https://prod-is.stamacasa.ro/Identity/Account/RegisterConfirmation

Developers need to take precautions with any public-facing page which uses username, email, or any

[2020-05-26 18:32] idormenco commented on #430
in progress

[2020-05-27 09:14] #428 closed, assigned to idormenco

[2020-05-28 11:35] RaduCStefanescu opened #443 "Update site content"
**Hero area**
Replace this:
Ești izolat la domiciliu iar telefoanele de urgență sunt împovărate de numărul mare de apeluri, făcând astfel evaluarea situațiilor medicale la nivel național o problemă reală. Toți suntem în aceeași situație.
Stăm acasă este o soluție digitală cu ajutorul căreia, împreună, reducem suprasolicitarea numerelor de urgență, colectăm rapid informații de la o populație foarte

[2020-05-28 12:00] RaduCStefanescu opened #444 "Update email content"
**Prima inregistrare**

Replace this
Salut!
Contul său a fost creat, dar pentru a putea sa te loghezi trebuie să confirmi contul tău apăsând pe acest link.
Te poți loga oricând în platformă la adresa www.stamacasa.ro.
În contul tău vei putea să îți evaluezi starea de sănătate generală și să ții un istoric al potențialelor simptome pe care le-ai putea resimți. Poți de asemenea să menții aceste info

[2020-05-28 17:36] bogdanbujdea commented on #426
Sounds like exponential backoff could work here. A simple idea would be to add a field in the database for each user where we specify the next time after which they can request a new password.
For example:
1st request - send the email immediately, and set the db field to 3 minutes from now(let's say 12:03 PM)
2nd request - check if the current time is bigger than the one set in the db
if 3 minutes

[2020-05-28 17:40] bogdanbujdea commented on #423
This means that we need a template for this email which will contain a list of changes done on the medical profile, right?

[2020-05-29 09:47] RaduCStefanescu commented on #423
Yes @thewindev Will come up with a template pretty soon.

[2020-05-29 09:54] RaduCStefanescu commented on #426
Sounds exactly what we need @thewindev
Go for it!

[2020-05-29 13:35] RaduCStefanescu commented on #141
Hi everyone.
We have updated the `Terms and conditions` page, you can see the content attached here:
[Termeni si conditii - jurnal medical.pdf](https://github.com/code4romania/stam-acasa/files/4702057/Termeni.si.conditii.-.jurnal.medical.pdf)

[2020-05-31 06:01] andorremus commented on #443
I'll take this

[2020-05-31 06:16] andorremus commented on #443
linkuri pt footer?

[2020-06-03 07:17] idormenco commented on #440
this might help somenone to fix this.
https://blog.rapid7.com/2017/06/15/about-user-enumeration/

[2020-06-03 07:37] idormenco commented on #440
To change the messages returned by identity server this is useful https://stackoverflow.com/questions/19961648/how-to-localize-asp-net-identity-username-and-password-error-messages

[2020-06-05 11:19] andreea-anastasescu commented on #421
il pot lua eu

[2020-06-05 12:24] RaduCStefanescu commented on #443
@andorremus sorry, I missed your comment
Despre proiect -> `/despre`
MS -> http://www.ms.ro/
https://www.gov.ro/
https://www.adr.gov.ro/
https://www.insp.gov.ro/
`/termeni-si-conditii`

[2020-06-09 09:38] #444 closed, assigned to mmircea16

[2020-06-09 09:46] #440 closed, assigned to nobody

[2020-06-09 09:51] Utwo commented on #438
Are there any credentials left in the codebase? If yes, we should remove them from code and regenerate a new set of keys.

[2020-06-09 10:32] idormenco commented on #433
in progress

[2020-06-09 11:18] Utwo commented on #427
I think this is the same issue we had on **date-la-zi** [see this commit](https://github.com/code4romania/date-la-zi/commit/0ae78ae6cb5d126a47c1a1b5913fc02ea3f2e61d)

On frontend side, we should make a new artifact/docker image for every environment we need to have and inject all env configs on build time.

[2020-06-09 11:25] #433 closed, assigned to idormenco

[2020-06-09 11:25] idormenco commented on #437
i will fix it

[2020-06-09 11:29] RaduCStefanescu commented on #141
This one is closed in #448

[2020-06-09 11:29] #141 closed, assigned to mmircea16

[2020-06-09 14:52] andreea-anastasescu commented on #421
I have looked into this reported issue.
According to:
 * https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2330?view=vs-2019
 * https://www.alphabot.com/security/blog/2017/net/How-to-configure-Json.NET-to-create-a-vulnerable-web-API.html
 * https://stackoverflow.com/questions/49038055/external-json-vulnerable-because-of-json-net-typenamehandling-auto/49040862

 What I understood is that

[2020-06-10 19:54] #443 closed, assigned to mmircea16, andorremus

[2020-06-11 06:37] idormenco commented on #421
@andreea-anastasescu ,you are right. Most probably they found this vulnerability using some static code analysis tool and most probably this vulnerability may not affect us (don't quote me on  this please).
What we can do is to improve our API design and not rely on dynamic stuff. We could come up with a model which will be submitted by frontend .

Something like this :
[code]

This will help us a

[2020-06-11 06:40] andreea-anastasescu commented on #421
I will use then the above mentioned class for deserialization (and validation) and then the code should be really safe.
Thanks for clarification!

[2020-06-11 11:27] idormenco commented on #439
insetigating

[2020-06-12 12:14] #437 closed, assigned to idormenco

[2020-06-12 12:17] #420 closed, assigned to nobody

[2020-06-12 12:53] #422 closed, assigned to idormenco

[2020-06-12 12:53] #430 closed, assigned to nobody

[2020-06-15 00:49] bogdanbujdea commented on #426
Is this message ok? I have the implementation almost ready, we just need to discuss about the flow and establish exactly how many retries are allowed and the intervals between them.
![image](https://user-images.githubusercontent.com/793611/84608412-fec9a780-aeba-11ea-95e5-1f9db248242e.png)

[2020-06-15 09:05] RaduCStefanescu commented on #426
The message looks great, but I think you should use diacritics.

[2020-06-16 12:47] #439 closed, assigned to idormenco

[2020-06-16 14:06] idormenco commented on #436
on it

[2020-06-17 19:00] #426 closed, assigned to bogdanbujdea

[2020-06-18 12:03] #436 closed, assigned to idormenco

[2020-06-18 12:15] RaduCStefanescu commented on #438
@Utwo the issue is that we are storing some credentials in open. We should just provide a template for the config.

[2020-06-18 14:00] andreea-anastasescu commented on #421
the changes were done - is anything else necessary here?

[2020-06-18 14:02] andreea-anastasescu commented on #424
i would take this one

[2020-06-18 14:16] RaduCStefanescu commented on #421
I will close this issue as it is fixed in #454
Thank you @andreea-anastasescu !

[2020-06-18 14:16] #421 closed, assigned to andreea-anastasescu

[2020-06-18 14:18] RaduCStefanescu commented on #417
@cipick do you have any updates on this one?

[2020-06-18 14:34] cipick commented on #417
@RaduCStefanescu so sorry for the absence. i just checked the current behaviour on https://dev-is.stamacasa.ro/Identity/Account/Register and the backend returns the correct error message, do we want to have the validation on client too or we should add a paragraph under the form with the requirements?
<img width="506" alt="Screenshot 2020-06-18 at 17 30 30" src="https://user-images.githubuserconte

[2020-06-18 16:35] RaduCStefanescu commented on #417
Hi @cipick
I think it would be better to have these rules static in the register screen, and not after the user inserts the password.

[2020-06-22 10:42] #417 closed, assigned to cipick

[2020-06-27 08:36] GabrielMajeri commented on #367
I want to work on this.

I'll look into
- displaying the right link based on the browser
- adding some icon for the Chrome/Firefox extension store

[2020-06-27 08:52] RaduCStefanescu commented on #367
Hi @GabrielMajeri
There are other more high priority issues if you want to have a look here: https://github.com/code4romania/stam-acasa/projects/1
But if you fancy this issue, sure, go for it.

[2020-06-27 11:16] mmircea16 commented on #419
I assume this is only for you own profile. Would we need to have a similar functionality for the other members of the family added?

[2020-06-27 15:18] #434 closed, assigned to nobody

[2020-06-27 15:20] #416 closed, assigned to surdu

[2020-06-29 15:44] RaduCStefanescu opened #462 "Update logo to Jurnal Medical"
Update the logo to use the new logo for the name of the platform - Jurnal Medical

[2020-07-01 12:00] #462 closed, assigned to nobody

[2020-07-05 13:24] GabrielMajeri commented on #423
Any updates with regards to this?

[2020-07-05 13:29] GabrielMajeri commented on #425
Would the following plan be appropriate for implementing this feature?
- Add a new API `PUT` endpoint which will update the user's profile with the given email address
- Add a new form to the [`MyAccount` component](https://github.com/code4romania/stam-acasa/blob/develop/frontend/src/components/Account/MyAccount/index.js) to allow the user to change their email address using the API function

[2020-07-11 17:02] overeha opened #476 "Edit return text in questionnaire"
Change this answer:
”Nu manifești niciun simptom de infecție. Te rugăm să rămâi în siguranță la domiciliu și să limitezi la maximum orice ieșire nerelevantă dacă ai posibilitatea și continuă să îți monitorizezi starea în fiecare zi. Dacă ai întrebări, apelează la TelVerde 0800 800 358 și așteaptă ca cineva să te preia. Liniile sunt foarte ocupate acum, te rugăm să ai răbdare.”

with
”Nu manifești

[2020-07-11 17:05] overeha opened #477 "Edit home screen text - anonymous users"
**Anonymous users home screen text:**

”Starea de alertă poate fi dificil de gestionat. Avem voie să ieșim din casă, dar urmând proceduri și reguli foarte clare. Riscul de a contracta virusul este foarte ridicat și este important să putem să ne monitorizăm starea cu ușurință și, de asemenea, este util să ne menținem un jurnal al ieșirilor. Telefoanele de urgență sunt împovărate de numărul mare de

[2020-07-11 17:11] overeha opened #478 "Edit home screen content for loggen-in users"
**Change**

”Ce pași ai de urmat
Pentru a te putea ajuta iată ce ai la dispoziție în contul tău:”

**with:**

”Ce pași ai de urmat:
În secțiunea **_Profilul meu_** vei putea să vezi istoricul datelor date sub tab-ul **_Formularele mele_** și istoricul celorlalți membri ai familiei sau persoane pentru care monitorizezi apariția sau manifestarea simptomelor, sub tab-ul **_Alte persoane_**. In sectiu

[2020-07-11 17:15] overeha opened #479 "Add simple button with link on homescreen"
Please add a button on the home screen for anonymous users for them to be able to create an account easier.
See a simulation below.

The button should have
- this color #FFBD59
- this text Creează cont
- this link on it https://is.jurnalmedical.ro/identity/account/register?returnUrl=https://jurnalmedical.ro/register-complete

![image](https://user-images.githubusercontent.com/45068169/87229720-457

[2020-07-11 17:22] overeha opened #480 "Add simple button with link in My Profile"
Add a button in My account. under the historical data box. Just like in the simulations below

The button should have
- this color #FFBD59
- this text Completează formular
- Link to your evaluation form if you are on ”Profilul meu” tab. OR link to the evaluation form for another family member.

![image](https://user-images.githubusercontent.com/45068169/87229778-c206a880-c3b3-11ea-8536-0de789612fe

[2020-07-11 17:25] overeha opened #481 "Edit content in Despre page"
**Change this text**

”Despre proiect
Starea de alertă poate fi dificil de gestionat. Avem din nou voie să ieșim din casă, dar urmând proceduri și reguli foarte clare. Riscul de a contracta virusul este foarte ridicat și este important să putem să ne monitorizăm starea cu ușurință și, de asemenea, este util să ne menținem un jurnal al ieșirilor

Telefoanele de urgență sunt împovărate de numărul ma

[2020-07-11 17:36] overeha opened #482 "Remove Footer link"
Remove one of the two terms and conditions links in the footer area

![image](https://user-images.githubusercontent.com/45068169/87230124-37737880-c3b6-11ea-999f-ab3c55b0a3c1.png)

[2020-07-12 12:22] #479 closed, assigned to Utwo

[2020-07-12 12:24] #477 closed, assigned to aniri

[2020-07-12 12:24] #478 closed, assigned to aniri

[2020-07-12 12:24] #481 closed, assigned to aniri

[2020-07-12 12:24] #482 closed, assigned to aniri

[2020-07-12 12:48] overeha opened #486 "Confusing flow in my profile screen"
When I am in my profile and I click on the fill in the form option i am taken to a page with a button that leads me to the form. However this page is shorter in terms of content, but clicking on the option does not jump me to the content nor scrolls up and it is very confusing especially on mobile.

Here is a demo:
![error gif](https://user-images.githubusercontent.com/45068169/87246631-4bbb8200-c

[2020-07-12 12:51] overeha opened #487 "Validation issue on name field in form"
The name field does not allow for any special character. Which may be an issue for some people who have a hyphen in their name or other distinctive characters (which is the case for Hungarians).
It is important to fix at least the hyphen.
![image (1)](https://user-images.githubusercontent.com/45068169/87246671-8f15f080-c457-11ea-8da1-403a458ebf2b.png)

[2020-07-12 15:17] #476 closed, assigned to aniri

[2020-07-13 08:40] overeha commented on #478
Please edit the typos.
Copy and replace the text with the one below

În secțiunea **_Profilul meu_** vei putea să vezi istoricul datelor tale sub tab-ul **_Formularele mele_** și istoricul celorlalți membri ai familiei sau persoane pentru care monitorizezi apariția sau manifestarea simptomelor sub tab-ul **_Alte persoane_**. În secțiunea **_Adaugă-ți familia în cont_** vei putea adăuga alte persoa

[2020-07-13 13:42] overeha opened #493 "Change From name in emails"
Replace "Admin" with "Echipa Jurnal Medical"

![image](https://user-images.githubusercontent.com/45068169/87311314-c2c04b80-c527-11ea-873a-5eebf0fcbf3f.png)

[2020-07-13 17:58] #493 closed, assigned to idormenco

[2020-07-14 11:06] #487 closed, assigned to nobody

[2020-07-31 13:42] #418 closed, assigned to nobody

[2020-07-31 13:42] #419 closed, assigned to mmircea16

[2020-08-08 13:03] catileptic opened #504 "User isn't logged out after deleting the account"
After a user enters their password and clicks the button to delete their account, the application should log them out and redirect them to the landing page.

Right now, on Firefox, the user deletes their account and the application does not log them out afterwards.
It would seem like, on Safari, the application does log them out - but then again, I'm probably one of the few unfortunate ones still

[2020-08-08 13:06] catileptic opened #505 "User can't create an account if they mess up their password choice on the first attempt"
When a user wants to create an account, and they enter a password that does not adhere to the password rule set, the application prompts them with an error. The error tells the user what password rule they haven't ticked off yet. However, when the user tries to enter a new password, they can't press the Register button, even if they have ticked "I accept the terms & conditions". The user is stuck

[2020-08-08 13:12] idormenco commented on #504
on it

[2020-08-09 16:35] #504 closed, assigned to idormenco

[2020-08-10 16:38] catileptic commented on #505
I tested the fix introduced by #506 on both Firefox and Chrome - it doesn't fix the bug. :(

[2020-08-10 16:48] catileptic commented on #505
Never mind. I just forgot to `docker-compose pull` the latest image, the one containing the fix, into the dev environment. This fix works as expected.

[2020-08-10 16:48] #505 closed, assigned to nobody

[2020-08-14 08:14] catileptic opened #511 "User can't delete account on Firefox"
Dacă vă faceți cont pe dev.stamacasa.ro folosind Firefox și încercați să-l ștergeți, o să:

- apară un mesaj temporar sub butonul de ștergere care zice "încercarea de ștergere a contului a eșuat"
- fiți redirectați către aceeași pagină, de account deletion, fără să vi se ștergă contul
- obervați, în Inspector, ca POST-ul pe https://dev-is.stamacasa.ro/account/delete apare Blocked (la mine în Firef

[2020-08-14 09:24] paul-antal commented on #511
Problema pare sa fie ca button-ul de delete nu are type pus pe el si e intr-un form.

Un button are by default type submit
Daca apesi pe un button de tip submit care e intr-un form, face submit la form.
Submit-ul la form reincarca pagina.
Daca pagina face refresh, automat toate request-urile deschise sunt anulate si apar ca "request failed".
Am impresia ca se trimite si un fel de "cancel spre serv

[2020-08-14 16:21] #511 closed, assigned to nobody

[2020-08-17 14:59] popsorina commented on #480
I will take this one

[2020-08-17 15:37] RaduCStefanescu commented on #480
All yours @popsorina

[2020-08-17 16:52] popsorina commented on #480
@RaduCStefanescu I cannot start the backend, I have this error:

[code]

[2020-08-18 07:18] RaduCStefanescu commented on #480
Hi @popsorina
Please run the `docker-compose-dep.yml` file first, wait for the dependencies to be initialized, and then run the `docker-compose-services.yml` to start the services.

[2020-09-03 12:56] #480 closed, assigned to popsorina

[2020-11-14 13:15] RaduCStefanescu opened #517 "Continua button does not work as expected"
The Continua button on the profile page does not work as expected:

![Screen Recording 2020-11-14 at 15 00 55](https://user-images.githubusercontent.com/15039873/99147755-213f3700-268c-11eb-9c59-5670928c406c.gif)

The button does not move to the next section after the user profile is filled in.

[2020-11-17 09:03] #517 closed, assigned to nobody

[2021-01-09 20:19] danielnutu opened #522 "Assesment reminders still sent even if account deleted"
Recently deleted my account, but I still receive reminders.

[2021-01-13 15:34] catileptic commented on #522
Thank you for submitting this! We are working on a feature to address this.